block footer

    // Popup Login/Register
    include ../components/_popup-auth

    footer#footer.footer

        .container

            .footer__wrapper

                .footer__inner

                    .footer__logo

                        .footer__logo-image
                            img(src="assets/images/logo-white.png", alt="logo")
                        .footer__logo-promo
                            p Интернет-магазин велозапчастей

                    .footer__nav

                        .footer__contacts

                            .footer__contact
                                p.footer__contacts-label Отдел доставки:
                                a.footer__contacts-phone(href="tel:+7 (977) 401-03-00") +7 (977) 401-03-00

                            .footer__contact
                                p.footer__contacts-label Центральный офис / отдел&nbsp;оптовых&nbsp;продаж:
                                a.footer__contacts-phone(href="tel: +7 (495) 775-14-09") +7 (495) 775-14-09

                        .footer__menu

                            ul
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Система скидок
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Каталог
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Производители
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Доставка и оплата
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Полезные материалы
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Доставка в регионы
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Новости
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Магазины в Москве
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Сделай сам
                                li.footer__menu-item
                                    a.footer__menu-link(href="#") Контакты

                .footer__bottom

                    .footer__copyright
                        p © 2012-2022.  Все права защищены. Копирование любых материалов без разрешения владельца ресурса запрещено!

                    .footer__dev
                        span Di-Project.Studio
                        a(target="_blank" href="https://di-project.studio/") Разработка сайта