block header

    header#header.header

        // Header Top::Start
        .header__top

            .container

                .header__top-wrapper

                    .header__logo
                        span.logo-image
                            img(src="assets/images/logo.png", alt="logo")
                        span.logo-text
                            img(src="assets/images/velo1000-mobile.png", alt="logo")

                    .header__right
                        .header__promo
                            span Интернет-магазин велозапчастей
                        .header__menu
                            // Navigations (mobile)
                            .header__menu-mobile
                                form.search-mobile
                                    input(type="search", name="" placeholder="Поиск")
                                    button.button-style.button-style--red(type="submit") Поиск

                                a.user__menu(href="#")
                                    span.user-icon
                                        i.far.fa-circle-user
                                    p Войти в личный кабинет

                                ul.menu__mobile
                                    li.menu__mobile-item
                                        span Каталог
                                        ul.submenu__mobile
                                            li
                                                a(href="#") Адаптер
                                            li
                                                a(href="#") Амортизатор
                                            li
                                                a(href="#") Аптечка
                                            li
                                                a(href="#") Багажник
                                            li
                                                a(href="#") Болт
                                            li
                                                a(href="#") Бонка
                                            li
                                                a(href="#") Вал
                                            li
                                                a(href="#") Велоджерси
                                            li
                                                a(href="#") Велокомпьютер
                                            li
                                                a(href="#") Велоноски
                                            li
                                                a(href="#") Велошорты
                                            li
                                                a(href="#") Вилка
                                            li
                                                a(href="#") Втулка задняя
                                            li
                                                a(href="#") Втулка комплект
                                            li
                                                a(href="#") Втулка передняя
                                            li
                                                a(href="#") Вынос руля
                                            li
                                                a(href="#") Герметик
                                            li
                                                a(href="#") Грипстоп
                                            li
                                                a(href="#") Грипсы
                                            li
                                                a(href="#") Гайка
                                            li
                                                a(href="#") Держатель для телефона
                                            li
                                                a(href="#") Драйвер
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Система скидок
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Производители
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Полезные материалы
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Новости
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Сделай сам

                            // Navigations
                            ul.header__menu-list
                                li
                                    a(href="#") Доставка и оплата
                                li
                                    a(href="#") Доставка в регионы
                                li
                                    a(href="#") Магазины в Москве
                                li
                                    a(href="#") Контакты

                            .hidden-menu
                                span Ещё
                                ul

                        // Header buttons
                        .header__buttons
                            .button-search
                                i.far.fa-search
                            .button-user
                                i.far.fa-circle-user
                                span Войти
                            .button-menu
                                span

                        // Search form
                        .header__search
                            .container
                                form
                                    input(type="search", name="" placeholder="Поиск")
                                    button.button-style.button-style--red(type="submit") Поиск
                                    .search-close-btn
                                        i.fas.fa-circle-xmark

        // Header Top::End

        // Header Nav::Start
        .header__nav

            .container

                .header__nav-wrapper

                    .header__nav-logo
                        img(src="assets/images/velo1000.png", alt="logo")

                    nav.navbar

                        .navbar__inner

                            .navbar__menu

                                .navbar__item.navbar-has-submenu
                                    a.navbar__link(href="#") Каталог
                                    ul.navbar__submenu
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Адаптер
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Амортизатор
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Аптечка
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Багажник
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Болт
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Бонка
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Вал
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Велоджерси
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Велокомпьютер
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Велоноски
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Велошорты
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Вилка
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Втулка задняя
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Втулка комплект
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Втулка передняя
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Вынос руля
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Герметик
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Грипстоп
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Грипсы
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Гайка
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Держатель для телефона
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Драйвер

                                .navbar__item
                                    a.navbar__link(href="#") Система скидок
                                .navbar__item
                                    a.navbar__link(href="#") Производители
                                .navbar__item
                                    a.navbar__link(href="#") Полезные материалы
                                .navbar__item
                                    a.navbar__link(href="#") Новости
                                .navbar__item
                                    a.navbar__link(href="#") Сделай сам

                            .hidden-navbar
                                span Ещё
                                .hidden-list

                        .navbar__buttons
                            .icon-button.button-compare
                                img(src="assets/images/compare-icon.svg", alt="svg")
                            .icon-button.icon-button.button-favorite
                                i.far.fa-heart
                            .icon-button.button-cart
                                i.far.fa-cart-shopping
                                span 1
        // Header Nav::End
