block header

    header#header.header

        // Header Top::Start
        .header__top

            .container

                .header__top-wrapper

                    .header__logo
                        span.logo-image
                            img(src="assets/images/logo.png", alt="logo")
                        span.logo-text
                            img(src="assets/images/velo1000-mobile.png", alt="logo")

                    .header__right
                        .header__promo
                            span Интернет-магазин велозапчастей
                        .header__menu
                            // Navigations (mobile)
                            .header__menu-mobile
                                form.search-mobile
                                    input(type="search", name="" placeholder="Поиск")
                                    button.button-style.button-style--red(type="submit") Поиск

                                .user__menu
                                    span.user-icon
                                        i.far.fa-circle-user
                                    p Войти в личный кабинет

                                ul.menu__mobile
                                    li.menu__mobile-item
                                        span Каталог
                                        ul.submenu__mobile
                                            li
                                                a(href="#") Адаптер
                                            li
                                                a(href="#") Амортизатор
                                            li
                                                a(href="#") Аптечка
                                            li
                                                a(href="#") Багажник
                                            li
                                                a(href="#") Болт
                                            li
                                                a(href="#") Бонка
                                            li
                                                a(href="#") Вал
                                            li
                                                a(href="#") Велоджерси
                                            li
                                                a(href="#") Велокомпьютер
                                            li
                                                a(href="#") Велоноски
                                            li
                                                a(href="#") Велошорты
                                            li
                                                a(href="#") Вилка
                                            li
                                                a(href="#") Втулка задняя
                                            li
                                                a(href="#") Втулка комплект
                                            li
                                                a(href="#") Втулка передняя
                                            li
                                                a(href="#") Вынос руля
                                            li
                                                a(href="#") Герметик
                                            li
                                                a(href="#") Грипстоп
                                            li
                                                a(href="#") Грипсы
                                            li
                                                a(href="#") Гайка
                                            li
                                                a(href="#") Держатель для телефона
                                            li
                                                a(href="#") Драйвер
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Система скидок
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Производители
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Полезные материалы
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Новости
                                    li.menu__mobile-item
                                        a(href="#").menu__mobile-link Сделай сам

                            // Navigations
                            ul.header__menu-list
                                li
                                    a(href="#") Доставка и оплата
                                li
                                    a(href="#") Доставка в регионы
                                li
                                    a(href="#") Магазины в Москве
                                li
                                    a(href="#") Контакты

                            .hidden-menu
                                span Ещё
                                ul.animate__animated.animate__fadeIn

                        // Header buttons
                        .header__buttons
                            .button-header.button-search
                                i.far.fa-search
                            .button-header.button-profile
                                a.button-profile__link(href="#")
                                    i.far.fa-circle-user
                                .profile-popup.animate__animated.animate__fadeIn.animate__faster
                                    a.profile-popup__link(href="#") Личные данные
                                    a.profile-popup__link(href="#") Текущие заказы
                                    a.profile-popup__link(href="#") История заказов
                                    a.profile-popup__link(href="#") Магазины
                                    a.profile-popup__link(href="#") FAQ
                                    a.profile-popup__link(href="#") Правила продажи
                                    a.profile-popup__link(href="#") Способы оплаты/доставки
                                    a.profile-popup__link(href="#") Магазины
                                    a.profile-popup__link(href="#") Правила возврата
                                    a.profile-popup__link(href="#") Контакты

                            .button-header.button-acc
                                span Войти
                            .button-header.button-menu
                                span

                        // Search form
                        .header__search
                            .container
                                form
                                    input(type="search", name="" placeholder="Поиск")

                                    .form-actions
                                        button.button-style.button-style--red(type="submit") Поиск
                                        .search-close-btn
                                            i.fal.fa-xmark-large

        // Header Top::End

        // Header Nav::Start
        .header__nav

            .container

                .header__nav-wrapper

                    .header__nav-logo
                        img(src="assets/images/velo1000.png", alt="logo")

                    nav.navbar

                        .navbar__inner

                            .navbar__menu

                                .navbar__item.navbar-has-submenu
                                    a.navbar__link(href="#") Каталог
                                    ul.navbar__submenu.animate__animated.animate__fadeIn
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Адаптер
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Амортизатор
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Аптечка
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Багажник
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Болт
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Бонка
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Вал
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Велоджерси
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Велокомпьютер
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Велоноски
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Велошорты
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Вилка
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Втулка задняя
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Втулка комплект
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Втулка передняя
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Вынос руля
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Герметик
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Грипстоп
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Грипсы
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Гайка
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Держатель для телефона
                                        li.navbar__submenu-item
                                            a.navbar__submenu-link(href="#") Драйвер

                                .navbar__item
                                    a.navbar__link(href="#") Система скидок
                                .navbar__item
                                    a.navbar__link(href="#") Производители
                                .navbar__item
                                    a.navbar__link(href="#") Полезные материалы
                                .navbar__item
                                    a.navbar__link(href="#") Новости
                                .navbar__item
                                    a.navbar__link(href="#") Сделай сам

                            .hidden-navbar
                                span Ещё
                                .hidden-list.animate__animated.animate__fadeIn

                        // NAVBAR BUTTONS
                        .navbar__buttons
                            .small-button.button-compare
                                a.small-button__link(href="#")
                                    .icon-btn
                                        img(src="assets/images/compare-icon.svg", alt="svg")

                                // SMALL CART POPUP
                                .small-btn.animate__animated.animate__fadeIn

                                    .small-btn__head

                                        .close-btn

                                        div
                                            span.small-btn__label Товары к сравнению
                                            span.small-btn__qt 2 товара
                                        button.button-style.button-style--transparent_black
                                            i.far.fa-xmark-large
                                            span Очистить

                                    .small-btn__body

                                        .small-btn__block
                                            button.small-btn__remove-item
                                                i.fal.fa-xmark-large
                                            .small-btn__image
                                                img(src="assets/images/item2.jpg", alt="img")
                                            .small-btn__desc
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor sit ad
                                                .small-btn__info
                                                    span 2 000 000 ₽

                                        .small-btn__block
                                            button.small-btn__remove-item
                                                i.fal.fa-xmark-large
                                            .small-btn__image
                                                img(src="assets/images/item2.jpg", alt="img")
                                            .small-btn__desc
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor sit ad
                                                .small-btn__info
                                                    span 2 000 000 ₽

                                    .small-btn__footer

                                        button.button-style.button-style--red Перейти к сравнению

                            .small-button.button-favorite
                                a.small-button__link(href="#")
                                    .icon-btn
                                        i.far.fa-heart

                                // SMALL CART POPUP
                                .small-btn.animate__animated.animate__fadeIn

                                    .small-btn__head

                                        .close-btn

                                        div
                                            span.small-btn__label Избранные товары
                                            span.small-btn__qt 2 товара
                                        button.button-style.button-style--transparent_black
                                            i.far.fa-xmark-large
                                            span Очистить

                                    .small-btn__body

                                        .small-btn__block
                                            button.small-btn__remove-item
                                                i.fal.fa-xmark-large
                                            .small-btn__image
                                                img(src="assets/images/item3.jpg", alt="img")
                                            .small-btn__desc
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dol sit ad
                                                .small-btn__info
                                                    span 5 000 000 ₽
                                                    button.button-style.button-style--red
                                                        i.far.fa-cart-shopping

                                        .small-btn__block
                                            button.small-btn__remove-item
                                                i.fal.fa-xmark-large
                                            .small-btn__image
                                                img(src="assets/images/item3.jpg", alt="img")
                                            .small-btn__desc
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dol sit ad
                                                .small-btn__info
                                                    span 5 000 000 ₽
                                                    button.button-style.button-style--red
                                                        i.far.fa-cart-shopping

                                    .small-btn__footer

                                        button.button-style.button-style--red Перейти в избранное

                            .small-button.button-cart
                                a.small-button__link(href="#")
                                    .icon-btn
                                        i.far.fa-cart-shopping
                                        span.quantity-icon 1

                                // SMALL CART POPUP
                                .small-btn.animate__animated.animate__fadeIn

                                    .small-btn__head

                                        .close-btn

                                        div
                                            span.small-btn__label Ваша корзина
                                            span.small-btn__qt 2 товара
                                        button.button-style.button-style--transparent_black
                                            i.far.fa-xmark-large
                                            span Очистить

                                    .small-btn__body

                                        .small-btn__block
                                            button.small-btn__remove-item
                                                i.fal.fa-xmark-large
                                            .small-btn__image
                                                img(src="assets/images/item.jpg", alt="img")
                                            .small-btn__desc
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dol sit ad
                                                .small-btn__info
                                                    span 10 000 000 ₽
                                                    button.small-btn__button
                                                        i.far.fa-heart

                                        .small-btn__block
                                            button.small-btn__remove-item
                                                i.fal.fa-xmark-large
                                            .small-btn__image
                                                img(src="assets/images/item.jpg", alt="img")
                                            .small-btn__desc
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dol sit ad
                                                .small-btn__info
                                                    span 10 000 000 ₽
                                                    button.small-btn__button
                                                        i.far.fa-heart

                                    .small-btn__footer

                                        .small-btn__total
                                            span.small-btn__label Итого
                                            span.small-btn__price 10 000 500 ₽
                                        button.button-style.button-style--red Оформить заказ

                            // Уведомление о добавлении товара в корзину
                            .notify-cart.animate__animated.animate__fadeInDown
                                .notify-cart__image
                                    img(src="assets/images/item.jpg", alt="img")
                                .notify-cart__desc
                                    span.notify-cart__label Добавлено в корзину
                                    span.notify-cart__item BIG BETTY 27,5х2,4
                                .notify-close
        // Header Nav::End
