$red: #BF0F0F;
$black: #0E0E0E;

@import 'plugins/swiper-bundle';

@import 'base/mixins';
@import 'base/normalize';
@import 'base/fonts';
@import 'base/reset';
@import 'base/ui';

@import 'includes/header';
@import 'includes/footer';

@import 'components/breadcrumbs';
@import 'components/popup-auth';

@import 'pages/index';
@import 'pages/forgot-password';
@import 'pages/sales';
@import 'pages/brands';