$red: #BF0F0F;
$black: #0E0E0E;

@import 'plugins/swiper-bundle';

@import 'base/mixins';
@import 'base/normalize';
@import 'base/fonts';
@import 'base/reset';
@import 'base/ui';

@import 'includes/header';
@import 'includes/footer';

@import 'components/breadcrumbs';
@import 'components/popup-auth';
@import 'components/popup-question';
@import 'components/pagination';

@import 'pages/index';
@import 'pages/forgot-password';
@import 'pages/sales';
@import 'pages/brands';
@import 'pages/materials';
@import 'pages/article-inner';
@import 'pages/news';
@import 'pages/contacts';
@import 'pages/delivery-regions';
@import 'pages/delivery-payment';
@import 'pages/personal';
@import 'pages/cart';
@import 'pages/product';
@import 'pages/catalog';
@import 'pages/category';
@import 'pages/compare';
@import 'pages/favorite';

.page-404 p {
    font-weight: 700;
    font-size: 100px;
    color: $black;
}

.page-404 a {
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
}