$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1200px;
$hd: 1440px;

@mixin breakpoint($point) {
    @if $point == xs {
        @media (min-width: $xs) { @content ; }
    }
    @else if $point == sm {
        @media (min-width: $sm) { @content ; }
    }
    @else if $point == md {
        @media (min-width: $md) { @content ; }
    }
    @else if $point == lg {
        @media (min-width: $lg) { @content ; }
    }
    @else if $point == xl {
        @media (min-width: $xl) { @content ; }
    }
    @else if $point == hd {
        @media (min-width: $hd) { @content ; }
    }
}

@mixin breakpointMax($point) {
    @if $point == xs {
        @media (max-width: $xs - 1px) { @content ; }
    }
    @else if $point == sm {
        @media (max-width: $sm - 1px) { @content ; }
    }
    @else if $point == md {
        @media (max-width: $md - 1px) { @content ; }
    }
    @else if $point == lg {
        @media (max-width: $lg - 1px) { @content ; }
    }
    @else if $point == xl {
        @media (max-width: $xl - 1px) { @content ; }
    }
    @else if $point == hd {
        @media (max-width: $hd - 1px) { @content ; }
    }
}

@mixin breakpointMaxCustom($point) {
    @media (max-width: $point - 1px) { @content ; }
}