html {
    scroll-behavior: smooth;
  }

body {
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
    overflow: hidden;
}

body b {
    font-weight: 700;
    color: #000;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;

    @include breakpoint(lg) {
        width: 2px;
        height: 10px;
    }
}

::-webkit-scrollbar-thumb {
    background: rgb(191, 15, 15);
}

::-webkit-scrollbar-track {
    background: #f7f7f7;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

main {
    min-height: calc(max(calc(100vh - 614px), 650px));

    @include breakpoint(md) {
        min-height: calc(max(calc(100vh - 614px), 570px));
    }
}

#page {
    position: relative;
    min-width: 320px;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#page::before {

    @include breakpoint(md) {
        content: '';
    }
}

#page.bg-overlay::before {

    @include breakpoint(md) {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.5s ease;
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    max-width: 1280px;
    box-sizing: border-box;

    @include breakpoint(md) {
        padding: 0 30px;
    }

    @include breakpoint(lg) {
        padding: 0 40px;
    }
}

input {
    border: none;
    outline: none;
    border-radius: 3px;
}

textarea {
    background: transparent;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    box-sizing: content-box;
}

button {
    position: relative;
}

i {
    font-size: 20px;
}

.button-style {
    padding: 14px 30px;
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
}

.button-style--red {
    background: $red;
    color: #fff;
    transition: all 0.5s ease;
}

.button-style--red:hover {
    background: #9d0c0c;
}

.button-style--transparent_red {
    background: transparent;
    color: $red;
    border: 1px solid $red;
}

.button-style--transparent_black {
    padding: 10px 20px;
    background: transparent;
    display: inline-block;
    height: 36px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $black;
    border: 1px solid $black;

    @include breakpoint(md) {
        padding: 14px 30px;
        height: 47px;
        font-size: 14px;
        line-height: 19px;
    }
}

input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: content-box;
}

.input-style {
    position: relative;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
}

.input-label {
    position: absolute;
    font-size: 12px;
    color: $black;
    z-index: -1;
    user-select: none;

    @include breakpoint(md) {
        font-size: 14px;
    }
}

.input-label::before {
    content: "*";
    color: $red;
}

.input-style-checkbox input {
    display: none;
}

.input-style-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;

    @include breakpoint(md) {
        align-items: unset;
    }
}

.input-style-checkbox label::before {
    content: '';
    margin-right: 12px;
    display: inline-block;
    min-width: 14px;
    min-height: 14px;
    max-width: 14px;
    max-height: 14px;
    color: #414141;
    border: 1px solid #414141;
    border-radius: 1px;

    @include breakpoint(md) {
        margin-top: 6px;
    }
}

.input-style-checkbox input:checked + label::before {
    content: '\f00c';
    background: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $icon;
    font-size: 10px;
    color: #fff;
    border-color: $red;
}

.pass-view {
    cursor: pointer;
}

.pass-view::after {
    content: "\f06e";
    position: absolute;
    top: 12px;
    right: 18px;
    display: block;
    font-family: $icon;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    transition: all 0.5s ease;
}

.pass-view:hover::after {
    color: #707070;
}

.pass-view.show::after {
    content: "\f070";
}

.input-checkbox-circle {
    position: relative;
}

.input-checkbox-circle .checkbox-bg {
    background: #D9D9D9;
    position: relative;
    width: 36px;
    height: 20px;
    border-radius: 34px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.input-checkbox-circle .checkbox-bg::after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: all 0.5s ease;
    z-index: 1;
}

.input-checkbox-circle input[type="checkbox"]:checked + .checkbox-bg {
    background: #45B04A;
}

.input-checkbox-circle input[type="checkbox"]:checked + .checkbox-bg::after {
    left: 18px;
}

.input-checkbox-circle input {
    position: absolute;
    width: 0;
    height: 0;
}

h1, h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: $black;
    text-transform: uppercase;

    @include breakpoint(md) {
        font-size: 25px;
    line-height: 34px;
    }

    @include breakpoint(xl) {
        font-size: 30px;
        line-height: 41px;
    }
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $black;
    text-transform: uppercase;
}

.page-title {
    margin-top: 20px;

    @include breakpoint(md) {
        margin-top: 50px;
    }

    @include breakpoint(lg) {
        margin-top: 60px;
    }
}

.swiper-pagination-bullet-active {
    background: $red!important;
}

.item-arrow-icon {
    background: $red;
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 25px;

    @include breakpoint(md) {
        width: 20px;
        height: 20px;
    }
}

.item-arrow-icon::after {
    content: "\e0fc";
    font-family: $icon;
    font-weight: 900;
    font-size: 12px;
    line-height: 1;

    @include breakpoint(md) {
        font-size: 20px;
    }
}

.attention-banner {
    margin-bottom: 80px;
    padding: 30px 20px;
    border: 1px solid #BF0F0F;
    border-radius: 16px;
    color: $black;

    @include breakpoint(lg) {
        padding: 40px;
    }
}

main .attention-banner h4 {
    margin: 0 0 24px;
}

main .attention-banner ul {
    padding-left: 20px;
}

main .attention-banner ul li {
    margin-bottom: 12px;
    list-style-type: disc;
}

main .attention-banner ul li:last-child {
    margin: 0;
}

main .attention-banner ul li::marker {
    color: $red;
}

main .attention-banner a {
    display: inline;
    color: $red;
}

.table-text {
    background: #F7F7F7;
    border-radius: 16px;
}

.table-text-row {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: $black;

    @include breakpoint(md) {
        padding: 31px 38px;
    }
}

.table-text-row p {
    flex-basis: 60px;
    flex-grow: 1;
    max-width: 620px;
}

.table-text-row p:last-child {
    flex-grow: 0;
}

.table-text-row ~ .table-text-row {
    position: relative;
}

.table-text-row ~ .table-text-row::before {
    content: '';
    background: #E7E7E7;
    position: absolute;
    top: 0;
    width: calc(100% - 76px);
    height: 1px;
}