.popup-auth {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 9;

    @include breakpoint(md) {
        background: transparent;
        align-items: center;
    }
}

.popup-auth.open {
    display: flex;
}

.popup-auth label.error {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    font-size: 12px;
    color: $red;
}

.popup-auth__inner {
    padding: 50px;
    background: #FFFFFF;
    position: relative;
    width: 496px;
    height: 444px;
    border-radius: 16px;
    transition: all 0.5s ease;

    @include breakpoint(md) {
        overflow: hidden;
    }
}

.popup-auth__inner.resize {
    height: 571px;
}

.close-auth {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}

.close-auth::after {
    content: '\e59b';
    display: block;
    font-family: $icon;
    color: $black;
}

.auth__title {
    margin-bottom: 25px;
}

.auth__label {
    margin-bottom: 25px;
    padding-bottom: 8px;
    position: relative;
    display: flex;
    font-weight: 500;
    color: #686461;
    border-bottom: 1px solid #E7E7E7;
}

.auth__label::after {
    content: '';
    background: #BF0F0F;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    transition: all 0.5s ease;
}

.auth__label[data-index="1"]::after {
    left: 73px;
    width: 101px;
}

.auth__tab {
    margin-right: 35px;
    cursor: pointer;
}

.auth__body {
    overflow: hidden;
}

.auth__body .input-style {
    margin-bottom: 20px;
    padding: 12px;
    padding-right: 45px;
    height: 45px;
}

.auth__login .input-style:last-child {
    margin-bottom: 16px;
}

.form-bottom {
    margin-bottom: 30px;

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
    }
}

.auth__checkbox {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: $black;

    @include breakpoint(md) {
        margin: 0;
    }
}

.auth__checkbox span {
    user-select: none;
}

.forgot-pass {
    color: $red;
    transition: all 0.5s ease;
}

.forgot-pass:hover {
    color: #9d0c0c;
}

.auth__body .button-style {
    font-size: 14px;
    line-height: 19px;
}

.auth__register {
    display: none;
}

.auth__body[data-show='1'] .auth__login {
    display: none;
}

.auth__body[data-show='1'] .auth__register {
    display: block;
}

.policy-info {
    font-size: 14px;
    color: $black;
}

.policy-info a {
    display: inline-block;
    color: $red;
    text-decoration: underline;
    transition: all 0.5s ease;
}

.policy-info a:hover {
    color: #9d0c0c;
}