.popup-question {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 9;

    @include breakpoint(md) {
        background: transparent;
        align-items: center;
    }
}

.popup-question.open {
    display: flex;
}

.popup-question label.error {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    font-size: 12px;
    color: $red;
}

.popup-question__inner {
    padding: 50px 30px;
    background: #FFFFFF;
    position: relative;
    width: 496px;
    height: 444px;
    border-radius: 16px;
    transition: all 0.5s ease;

    @include breakpoint(md) {
        padding: 70px 67px 60px;
        width: 566px;
        height: 557px;
        overflow: hidden;
    }
}

.close-question {
    background: $red;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;

    @include breakpoint(md) {
        top: 24px;
        right: 24px;
        width: 40px;
        height: 40px;
    }
}

.close-question::after {
    content: '\e59b';
    display: block;
    font-family: $icon;
}

.question__title {
    margin-bottom: 8px;
}

.question__text {
    margin-bottom: 20px;
    color: #686461;
}

.question__body {
    overflow: hidden;
}

.question__body .input-style {
    margin-bottom: 12px;
    padding: 12px;
    padding-right: 45px;
    background: #F7F7F7;
    height: 45px;
    border: none;
}

.question__login .input-style:last-child {
    margin-bottom: 16px;
}

.question__login .input-label {
    z-index: unset;
}

.popup-question__submit {
    margin-top: 35px;

    @include breakpoint(md) {
        display: flex;
        align-items: center;
    }
}

.popup-question__submit .button-style {
    font-size: 14px;
    line-height: 19px;
}

.popup-question__submit small {
    margin-top: 12px;
    display: inline-block;
    font-size: 14px;
    color: #686461;

    @include breakpoint(md) {
        margin-top: 0;
        margin-left: 15px;
        max-width: 210px;
    }
}