.page-cart .grey-text {
    color: #686461;
}

.page-cart {
    padding: 30px 0 60px;
    color: $black;

    @include breakpoint(lg) {
        padding: 30px 0 80px;
    }

    @include breakpoint(xl) {
        padding: 30px 0 100px;
    }
}

.cart__container {

    @include breakpoint(xl) {
        display: flex;
        column-gap: 40px;
    }
}

.cart__block {
    border: 1px solid #E7E7E7;
    border-radius: 15px;
    overflow: hidden;

    @include breakpoint(xl) {
        width: 100%;
    }
}

.cart__item {
    position: relative;

    @include breakpoint(md) {
        display: flex;
    }
}

.cart__item ~ .cart__item {
    border-top: 1px solid #E7E7E7;
}

.cart__item-image {
    width: 100%;
    height: calc((100vw - 40px) / 1.037);

    @include breakpoint(md) {
        width: 245px;
        height: 236px;
        min-width: 245px;
        min-height: 236px;
    }

    @include breakpoint(lg) {
        width: 156px;
        height: 150px;
        min-width: 156px;
        min-height: 150px;
    }
}

.cart__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart__item-label {
    margin-top: 25px;
    padding: 0 16px;

    @include breakpoint(md) {
        margin-top: 0;
        padding: 20px 35px 20px 20px;
    }
}

.cart__item-remove {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
    cursor: pointer;

    @include breakpoint(md) {
        bottom: 20px;
    }

    @include breakpoint(lg) {
        right: 15px;
        bottom: 15px;
    }
}

.cart__item-remove::before {
    content: '\f2ed';
    display: inline-block;
    font-family: $icon;
    font-size: 15px;
    color: #686461;
}

.cart__item-details {
    margin-top: 16px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;

    @include breakpoint(md) {
        margin-top: 0;
        margin-left: auto;
        padding: 20px 27px 20px 0;
        flex-direction: column;
    }

    @include breakpoint(lg) {
        margin-right: 95px;
        padding: 20px 0;
        flex-direction: row;
        width: 100%;
        max-width: 325px;
    }

    @include breakpoint(xl) {
        margin-right: 40px;
    }
}

.cart__item-details p:first-of-type {

    @include breakpoint(lg) {
        margin-bottom: 12px;
    }
}

.cart__item-price {
    width: 42%;

    @include breakpoint(md) {
        width: auto;
    }

    @include breakpoint(xl) {
        width: calc(100% / 3);
    }
}

.cart__item-quantity {
    width: 58%;
    max-width: 200px;

    @include breakpoint(md) {
        width: auto;
        max-width: 75px;
    }

    @include breakpoint(xl) {
        width: calc(100% / 3);
    }
}

.cart__item-quantity p {
    display: none;

    @include breakpoint(md) {
        display: block;
    }
}

.cart__item-qt {
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    border: 1px solid #E7E7E7;
    border-radius: 3px;

    @include breakpoint(md) {
        margin-top: 5px;
        padding: 0;
        border: none;
    }
}

.cart__item-qt button {
    background: none;
    width: calc(100% / 3);
    font-size: 18px;
}

.cart__item-qt input {
    background: none;
    width: calc((100% / 3) - 16px);
    text-align: center;
}

.cart__item-sum {
    margin-top: 28px;
    padding-bottom: 21px;
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
    width: 100%;

    @include breakpoint(md) {
        margin-top: 0;
        padding-bottom: 0;
        display: block;
        width: auto;
    }

    @include breakpoint(xl) {
        width: calc((100% / 3) - 20px);
    }
}

.cart__total {
    margin-top: 30px;
    padding: 4px 20px;
    border: 1px solid #E7E7E7;
    border-radius: 16px;

    @include breakpoint(md) {
        padding: 0 20px;
    }

    @include breakpoint(xl) {
        margin-top: 0;
        padding: 4px 21.5px;
    }
}

.cart__total-row {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #E7E7E7;
}

.cart__total-bottom {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    width: 225px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart__form {

    @include breakpoint(xl) {
        max-width: 890px;
    }
}

.cart__form .page-title {
    margin: 40px 0 20px;

    @include breakpoint(md) {
        margin: 40px 0 30px;
    }

    @include breakpoint(lg) {
        margin: 50px 0 30px;
    }

    @include breakpoint(xl) {
        margin: 70px 0 30px;
    }
}

.form__window ~ .form__window {
    margin-top: 30px;
}

.form__window-head {
    padding: 21px 16px;
    background: $red;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
}

.form__window-head span {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-weight: 800;
    font-size: 11px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.form__window-head h4 {
    margin-left: 15px;
}

.form__window-body {
    padding: 30px 16px 20px;
    border: 1px solid #E7E7E7;

    @include breakpoint(md) {
        padding: 30px 40px;
    }
}

.cart__form .input-style {
    padding: 12px;
    font-size: 14px;

    @include breakpoint(md) {
        width: 50%;
    }
}

.form__input-label {
    margin-bottom: 14px;
}

.cart-input-checkbox {
    margin-bottom: 8px;
}

.form__input-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @include breakpoint(md) {
        flex-direction: row;
        column-gap: 12px;
    }
}

.form__window-footer {
    padding: 20px 16px;
    border: 1px solid #E7E7E7;
    border-top: none;
    border-radius: 0px 0px 15px 15px;

    @include breakpoint(md) {
        padding: 30px 40px;
    }
}

.form__buttons {
    display: flex;
    column-gap: 12px;
}

.form__buttons .button-style {
    width: 50%;
    font-size: 14px;

    @include breakpoint(md) {
        width: 135px;
    }
}

.form__buttons .button-style--red {
    margin-left: auto;
}

.form__buttons .button-style--transparent_red {
    margin-right: auto;
}

.form__block {

    @include breakpoint(md) {
        display: flex;
        column-gap: 15px;
    }

    @include breakpoint(lg) {
        column-gap: 22px;
    }

    @include breakpoint(xl) {
        column-gap: 20px;
    }
}

.form__item {

    @include breakpoint(lg) {
        width: calc(100% / 3);
    }
}

.form__item ~ .form__item {

    @include breakpointMax(md) {
        margin-top: 24px;
    }
}

.form__logo {
    margin-bottom: 20px;
    padding: 24px 20px;
    background: #F7F7F7;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
    border: 1px solid #F7F7F7;
    border-radius: 16px;

    @include breakpoint(md) {
        margin-bottom: 25px;
        padding: 12px 12px;
        column-gap: 12px;
    }

    @include breakpoint(lg) {
        margin-bottom: 20px;
        padding: 24px 30px;
        column-gap: 20px;
    }

    @include breakpoint(xl) {
        column-gap: 14px;
    }
}

.form__logo.selected {
    border: 1px solid $red;
}

.from__img {
    display: flex;
    align-items: center;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    overflow: hidden;

    @include breakpoint(md) {
        min-width: 65px;
        min-height: 65px;
        max-width: 65px;
        max-height: 65px;
    }

    @include breakpoint(lg) {
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
    }
}

.from__img img {
    width: 100%;
}

.form__logo p {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.form__item-price {
    padding: 3px 10px;
    background: #27AE60;
    position: absolute;
    right: -3px;
    bottom: 8px;
    font-weight: 700;
    font-size: 11px;
    line-height: 150%;
    text-transform: uppercase;
    border-radius: 58px;
    color: #fff;

    @include breakpoint(md) {
        right: 8px;
    }

    @include breakpoint(lg) {
        right: 25px;
    }
}

.form__selected {
    margin-top: 24px;
    padding: 24px 20px;
    border: 1px solid #E7E7E7;
    border-radius: 16px;

    @include breakpoint(md) {
        margin-top: 0;
        padding: 11px;
    }

    @include breakpoint(lg) {
        padding: 24px 31px;
        width: calc(100% / 3);
    }

    @include breakpoint(xl) {
        padding: 24px 20px;
    }
}

.form__selected .from__img {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
}

.form__selected .form__logo {
    background: none;
    padding: 0;
    border: none;

    @include breakpoint(md) {
        margin-bottom: 16px;
    }

    @include breakpoint(xl) {
        max-width: 170px;
    }
}

.form__selected .form__logo p {
    font-size: 12px;
    line-height: 16px;
}

.form__explanation {
    font-size: 14px;
}

.form__price {
    margin-top: 16px;
    font-size: 14px;

    @include breakpoint(md) {
        margin-top: 5px;
    }

    @include breakpoint(xl) {
        margin-top: 16px;
    }
}

.cart-input ~ .cart-input {

    @include breakpointMax(md) {
        margin-top: 12px;
    }
}

.form__fields {

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 13px;
        row-gap: 20px;
    }

    @include breakpoint(lg) {
        column-gap: 20px;
    }
}

.form__fields .cart-input {

    @include breakpoint(md) {
        width: calc(50% - (13px / 2));
    }

    @include breakpoint(lg) {
        width: calc(50% - (20px / 2));
    }
}

.form__fields .cart-input-textarea {

    @include breakpoint(lg) {
        width: 100%;
    }
}

.cart-input textarea {
    min-height: 140px;
}

.cart-form-submit {
    margin: 40px 0 20px;
    width: 100%;
    max-width: 280px;
    font-size: 14px;

    @include breakpoint(md) {
        margin: 50px 0 20px;
        max-width: 190px;
    }
}

.form-notify {
    font-size: 14px;
    color: #686461;
}