.page-compare {
    padding: 30px 0 60px;

    @include breakpoint(md) {
        padding: 40px 0 60px;
    }

    @include breakpoint(lg) {
        padding: 60px 0 80px;
    }

    @include breakpoint(xl) {
        padding: 70px 0 100px;
    }
}

.product__compare {
    display: inline-block;
    border: 1px solid #E7E7E7;
    border-radius: 15px;
    overflow: hidden;
}

.product__compare .product__block {
    display: inline-block;
    width: 295px;
}

.compare__section {
    margin-top: 30px;
    font-size: 14px;
    color: $black;
}

.compare__checkbox {
    margin-bottom: 30px;
    display: flex;
}

.compare__checkbox span {
    margin-left: 10px;
}

.compare__table {
    display: flex;
}

.compare__col {
    min-width: 295px;
    max-width: 295px;
}

.compare__col:last-child {
    width: 100%;
    max-width: 100%;
}

.compare__value {
    padding: 8px 0;
    display: flex;
    align-items: flex-end;
    height: 70px;
    border-bottom: 1px solid #E7E7E7;
}

.compare__col:first-child .compare__value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.compare__col:first-child .compare__value::before {
    content: attr(data-label);
    color: #686461;
}

.compare__value:first-child {
    border-top: 1px solid #E7E7E7;
}