.page-contacts {
    padding: 40px 0 50px;
    color: $black;
    font-size: 14px;

    @include breakpoint(md) {
        font-size: 16px;
    }
}

.page-contacts h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    text-transform: uppercase;
}

.page-contacts a {
    display: inline;
}

.contacts__row {
    margin-bottom: 50px;
    max-width: 890px;
}

.contacts__row h4 {
    margin-bottom: 20px;
}

.contacts__block {
    margin-bottom: 12px;
    display: flex;
    column-gap: 7px;
}

.contacts__item {

    @include breakpoint(md) {
        display: flex;
        column-gap: 5px;
    }
}

.contacts__item .text-gray {
    color: #686461;
}

.contacts__item .text-red {
    color: $red;
}

.contacts__item--column {
    margin-bottom: 16px;
    display: block;
}

.contacts__block.fa-icon::before {
    font-family: $fa5;
    font-weight: 900;
    font-size: 15px;
    color: $red;
}

.contacts__block.fa-icon--phone::before {
    content: '\e11b';
}

.contacts__block.fa-icon--clock::before {
    content: '\f017';
}