.page-forgot-password p {
    margin: 21px 0 35px;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.page-forgot-password form {
    max-width: 478px;
}

.page-forgot-password .input-style {
    padding: 12px;
    max-width: 396px;
}

.page-forgot-password form p {
    margin: 12px 0 35px;
    color: #686461
}

.page-forgot-password form button {
    font-size: 14px;
}