.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @include breakpoint(md) {
        background-position: left;
    }
}

.banner .container {

    @include breakpointMax(lg) {
        padding: 0;
        padding-left: 30px;
    }

    @include breakpointMax(md) {
        padding: 0 30px;
    }
}

.banner::before {
    content: "";
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92));
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.banner__slide {
    padding: 30px 0 80px;
    display: flex;

    @include breakpoint(md) {
        padding: 45px 0 125px;
        align-items: center;
        column-gap: 30px;
        min-height: 323px;
        box-sizing: content-box;
    }

    @include breakpoint(xl) {
        padding: 72px 0 107px;
        column-gap: 60px;
        min-height: 419px;
    }
}

.banner__block {

    @include breakpoint(md) {
        flex-basis: calc(((100% - 45px) / 12) * 7);
    }

    @include breakpoint(lg) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @include breakpoint(xl) {
        flex-basis: calc((100% - 140px) / 2);
    }
}

.banner__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 136.5%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $black;

    @include breakpoint(md) {
        text-align: left;
    }

    @include breakpoint(lg) {
        font-size: 30px;
    }

    @include breakpoint(xl) {
        font-size: 35px;
    }
}

.banner__subtitle {
    margin-top: 12px;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #3F3F3F;

    @include breakpoint(md) {
        margin-top: 20px;
        text-align: left;
    }
}

.banner__button {
    margin: 40px auto 0;
    max-width: 204px;
    font-size: 14px;

    @include breakpoint(md) {
        margin: 40px 0 0;
        box-sizing: border-box;
    }

    @include breakpoint(xl) {
        margin-top: 50px
    }
}

.banner__image {
    display: none;

    @include breakpoint(md) {
        position: absolute;
        left: calc(50% + 60px);
        display: block;
        width: 515px;
        height: 323px;
    }

    @include breakpoint(lg) {
        position: unset;
        flex-basis: calc((100% - 30px) / 2);
        min-height: 287px;
    }

    @include breakpoint(xl) {
        flex-basis: calc((100% + 30px) / 2);
        height: 100%;
    }
}

.banner__image img {

    @include breakpoint(md) {
        height: 100%;
    }

    @include breakpoint(lg) {
        width: 100%;
        object-fit: cover;
    }
}

.banner__pagination {
    bottom: 30px!important;

    @include breakpoint(md) {
        left: unset!important;
        bottom: 50px!important;
        width: auto!important;
    }

    @include breakpoint(xl) {
        bottom: 70px!important;
    }
}

.brands-section {
    padding: 20px 0;
    text-align: center;

    @include breakpoint(md) {
        padding: 30px 0;
    }

    @include breakpoint(lg) {
        padding: 40px 0;
    }

    @include breakpoint(xl) {
        padding: 60px 0;
    }
}

.brands__slider {

    @include breakpointMax(md) {
        padding-left: 20px;
    }

    @include breakpoint(xl) {
        padding: 0 16px;
    }
}

.brands__slider::before {

    @include breakpoint(md) {
        content: "";
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 15%;
        height: 100%;
        z-index: 2;
    }
}

.brands__slider::after {

    @include breakpoint(md) {
        content: "";
        background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 15%;
        height: 100%;
        z-index: 2;
    }
}

.brands__wrapper {
    align-items: center;

    @include breakpoint(xl) {
        column-gap: 5px;
    }
}

.brand__slide {
    margin-right: 20px;
    flex-basis: calc(25% + 7.5px);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include breakpoint(md) {
        margin: 0;
        flex-basis: calc(25% - 19px);
        height: 80px;
    }

    @include breakpoint(lg) {
        flex-basis: calc(20% - 37.5px);
    }

    @include breakpoint(xl) {
        flex-basis: 167px;
    }
}

.brand__image {
    padding: 5px;
}

.brand__image img {
    vertical-align: middle;
}

.swiper-navigation {

    @include breakpointMax(lg) {
        display: none;
    }
}

.brand__button {

    @include breakpoint(lg) {
        color: $black;
    }
}

.brand__button::after {

    @include breakpoint(lg) {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }
}

.brand__button--prev {

    @include breakpoint(lg) {
        left: 40px;
    }

    @include breakpoint(xl) {
        left: 90px;
    }

    @include breakpoint(hd) {
        left: 160px;
    }
}

.brand__button--next {

    @include breakpoint(lg) {
        right: 40px;
    }

    @include breakpoint(xl) {
        right: 90px;
    }

    @include breakpoint(hd) {
        right: 160px;
    }
}

.popular-section {
    padding: 40px 0;
    text-align: center;

    @include breakpoint(md) {
        padding: 50px 0 60px;
    }

    @include breakpoint(lg) {
        padding: 60px 0 80px;
    }

    @include breakpoint(xl) {
        padding: 60px 100px;
    }
}

.popular__title {
    margin-bottom: 30px;

    @include breakpoint(md) {
        margin-bottom: 40px;
    }

    @include breakpoint(lg) {
        margin-bottom: 50px;
    }

    @include breakpoint(xl) {
        margin-bottom: 60px;
    }
}

.popular {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;

    @include breakpoint(lg) {
        column-gap: 30px;
        row-gap: 30px;
    }

    @include breakpoint(xl) {
        column-gap: 40px;
        row-gap: 40px;
    }
}

.popular__block {
    padding-bottom: 18px;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    height: calc((50vw - 30px) * 1.27);
    border-radius: 15px;
    overflow: hidden;
    box-sizing: content-box;

    @include breakpoint(lg) {
        width: calc((100% - 60px) / 3);
    }

    @include breakpoint(xl) {
        width: calc((100% - 80px) / 3);
    }
}

.popular__image {
    flex-basis: 100%;
}

.popular__desc {
    margin-top: auto;
    padding: 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.popular__label {
    max-width: 80px;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: $black;
    text-transform: uppercase;
}

.popular-arrow-icon {
    background: $red;
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 25px;
}

.popular-arrow-icon::after {
    content: "\e0fc";
    font-family: $icon;
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
}

.materials-section {
    padding: 40px 0;
    background: #F7F7F7;
    text-align: center;

    @include breakpoint(md) {
        padding: 67px 0 60px;
    }

    @include breakpoint(lg) {
        padding: 80px 0;
    }

    @include breakpoint(xl) {
        padding: 103px 0 92px;
    }
}

.materials__title {
    margin-bottom: 31px;

    @include breakpoint(md) {
        margin-bottom: 46px;
    }

    @include breakpoint(lg) {
        margin-bottom: 57px;
    }

    @include breakpoint(xl) {
        margin-bottom: 65px;
    }
}

.materials {

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
}

.materials__block {
    margin-bottom: 20px;
    padding: 20px;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: calc((100vw - 40px) / 1.029);
    border-radius: 15px;
    overflow: hidden;

    @include breakpoint(md) {
        width: calc(50% - 80px);
        height: calc((100vw - 80px) / 1.031);
    }
}

.materials__block::before {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.materials__wrap {
    margin-top: auto;
    position: relative;
    text-align: left;
    z-index: 1;
}

.materials__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    @include textLimit(4);
}

.materials__text {
    margin-top: 10px;
    @include textLimit(5);
}