.page-news {
    padding: 30px 0 60px;

    @include breakpoint(md) {
        padding: 50px 0 60px;
    }

    @include breakpoint(lg) {
        padding: 50px 0 80px;
    }

    @include breakpoint(lg) {
        padding: 60px 0 100px;
    }
}

.page-news .button-style {
    margin: 0 auto;
    max-width: 280px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    @include breakpoint(md) {
        margin: 0;
        max-width: 175px;
    }
}

.page-news .news__block:last-child {
    margin-bottom: 30px;

    @include breakpoint(md) {
        margin-bottom: 40px;
    }

    @include breakpoint(xl) {
        margin-bottom: 45px;
    }
}