.page-product {
    padding: 30px 0 60px;

    @include breakpoint(md) {
        padding: 40px 0 60px;
    }

    @include breakpoint(lg) {
        padding: 60px 0 80px;
    }

    @include breakpoint(xl) {
        padding: 70px 0 100px;
    }
}

.product__container {

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
    }
}

.product__img-mobile {
    margin: 20px 0;
    position: relative;
    width: 100%;
    height: calc(100vw - 40px);
    color: #fff;
    border: 1px solid #DCDCDC;
    border-radius: 16px;

    @include breakpoint(md) {
        display: none;
    }
}

.product__img-mobile::before {
    content: 'Спеццена';
    padding: 5px 20px;
    background: #219653;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 50px;
}

.product__img-mobile img {
    width: 100%;
    height: 100%;
}

.product__img {
    display: none;

    @include breakpoint(md) {
        margin-right: 20px;
        position: relative;
        display: block;
        width: calc(((100% / 12) * 5) - 12px)
    }

    @include breakpoint(lg) {
        width: calc(((100% / 12) * 5) + 14px)
    }

    @include breakpoint(xl) {
        margin-right: 0;
        width: 580px;
        height: 580px;
    }
}

.product__img.special-price::before {
    content: 'Спеццена';
    padding: 5px 20px;
    background: #219653;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 50px;

    @include breakpoint(lg) {
        padding: 10px 28px;
        top: 30px;
        left: 30px;
        font-size: 16px;
    }
}

.product {
    color: $black;

    @include breakpoint(md) {
        width: calc(((100% / 12) * 7) - 8px)
    }

    @include breakpoint(lg) {
        width: calc(((100% / 12) * 6) - 10px)
    }

    @include breakpoint(xl) {
        width: 517px;
    }
}

.product__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;

    @include breakpoint(md) {
        margin-bottom: 25px;
    }

    @include breakpoint(lg) {
        margin-bottom: 42px;
        max-width: 380px;
    }
}

.product__element {

    @include breakpoint(lg) {
        display: flex;
    }
}

.product__cost {
    margin-bottom: 25px;

    @include breakpoint(lg) {
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.product__cost b {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #BF0F0F;
}

.product__cost span {
    font-size: 14px;
    color: #686461;
}

.product__action {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.product__btn {
    background: transparent;
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: $red;
}

.product__btn span {
    display: flex;
    column-gap: 15px;
    font-size: 14px;
    color: #686461;
}

.product__btn .btn-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.product__availability {
    margin: 20px 0;

    @include breakpoint(md) {
        margin: 25px 0;
    }
}

.product__availability p {
    color: #686461;
}

.product__availability ul {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 9px;
}

.product__availability li {
    font-size: 14px;
}

.product__availability li::before {
    content: '\f00c';
    margin-right: 8px;
    font-family: $icon;
    font-weight: 700;
    font-size: 12px;
    color: #219653;
}

.product__availability li.unavailable::before {
    content: '\f00d';
    margin-right: 8px;
    font-family: $fa5;
    font-weight: 900;
    font-size: 12px;
    color: $red;
}

.product__char {
    margin-bottom: 20px;
}

.product__char-row {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #E7E7E7;
}

.product__char-row:first-child {
    border-top: 1px solid #E7E7E7;
}

.product__buttons {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 12px;
    font-size: 14px;

    @include breakpoint(md) {
        margin-top: 40px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    @include breakpoint(lg) {
        grid-gap: 15px;
    }
}

.product__buttons .button-style {
    font-weight: 500;
}

.product__btn-quantity {
    padding: 12px 17px;
    display: flex;
    justify-content: space-between;
    width: calc(50% - 18px);
    font-size: 15px;
    border: 1px solid #E7E7E7;
    border-radius: 3px;

    @include breakpoint(md) {
        padding: 0;
        min-width: 122px;
    }

    @include breakpoint(lg) {
        min-width: 143px;
    }
}

.product__btn-quantity button {
    background: none;
    width: calc((100% / 3) - 10px);
    font-size: 18px;

    @include breakpoint(md) {
        width: calc(100% / 3);
    }
}

.product__btn-quantity input {
    background: none;
    width: calc((100% / 3) - 16px);
    text-align: center;
}

.product__btn-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% + 10px);

    @include breakpoint(md) {
        padding: 14px 12px;
        min-width: 107px;
    }

    @include breakpoint(lg) {
        min-width: 125px;
    }

    @include breakpoint(xl) {
        min-width: 150px;
    }
}

.product__btn-fast_order {

    @include breakpoint(md) {
        padding: 14px 8px;
        min-width: 140px;
    }

    @include breakpoint(lg) {
        min-width: 164px;
    }

    @include breakpoint(xl) {
        min-width: 196px;
    }
}

.product__desc {
    padding: 30px 0;

    @include breakpoint(md) {
        padding: 40px 0;
    }

    @include breakpoint(lg) {
        padding: 60px 0 50px;
    }

    @include breakpoint(xl) {
        padding: 100px 0 70px;
    }
}

.product__tabs {
    padding: 20px 22.5px;
    background: #F7F7F7;
    width: calc(100% + 20px);
    border-radius: 6px;

    @include breakpoint(md) {
        padding: 20px 25px;
        width: 100%;
    }

    @include breakpoint(lg) {
        padding: 27px 63.5px;
    }
}

.product__tabs .swiper-wrapper {

    @include breakpoint(md) {
        justify-content: space-between;
    }
}

.product__tabs .swiper-slide {
    margin-right: 16px;
    width: auto;

    @include breakpoint(md) {
        margin: 0;
    }
}

.tab-nav {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #686461;
    cursor: pointer;

    @include breakpoint(md) {
        font-size: 14px;
    }

    @include breakpoint(lg) {
        font-size: 16px;
    }
}

.tab-nav.active {
    color: $black;
}

.tab-content {
    margin: 30px 0 40px;
    display: none;

    @include breakpoint(md) {
        margin: 30px 0 50px;
    }

    @include breakpoint(lg) {
        margin: 40px 0 60px;
    }
}

.tab-content.active {
    display: block;
}

.tab-content h3 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;

    @include breakpoint(md) {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 150%;
    }
}

.tab-content p {
    color: $black;
}

.product__description-text {

    @include breakpoint(xl) {
        max-width: 720px;
    }
}

.product__shops {
    padding: 30px 20px;
    background: #F7F7F7;
    border-radius: 16px;

    @include breakpoint(md) {
        padding: 40px 30px;
    }

    @include breakpoint(lg) {
        padding: 60px 40px 40px;
    }

    @include breakpoint(xl) {
        padding: 60px;
    }
}

.tab-content .page-payment {
    padding: 0;
}

.tab-content .page-delivery {
    padding: 0;
}

.tab-content .page-delivery .red-text b {
    color: $red;
}

.tab-content .box-row {
    margin-bottom: 30px;
}

.product__shops-item {
    padding: 20px 0;
    border-top: 1px solid #E7E7E7;

    @include breakpoint(md) {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
    }
}

.product__shops-item:first-child {
    padding-top: 0;
    border: none;
}

.product__shops-item:last-child {
    padding-bottom: 0;
}

.product__shops-label {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-transform: uppercase;

    @include breakpoint(md) {
        width: calc(((100% / 12) * 4) + 16px);
    }

    @include breakpoint(lg) {
        width: calc(((100% / 12) * 4));
    }
}

.product__shops-label::first-letter {
    text-transform: lowercase;
}

.product__shops-label::before {
    content: '\f00c';
    margin-right: 20px;
    font-family: $icon;
    color: #219653;
}

.product__shops-label.unavailable::before {
    content: '\f00d';
    margin-right: 20px;
    font-family: $fa5;
    color: $red;
}

.product__shops-address {

    @include breakpoint(md) {
        width: calc(((100% / 12) * 5) + 40px);
    }

    @include breakpoint(lg) {
        display: flex;
        grid-gap: 60px;
        width: calc(((100% / 12) * 8) - 15px);
    }

    @include breakpoint(xl) {
        justify-content: space-between;
    }
}

.product__shops-address p {

    @include breakpoint(lg) {
        width: 59%;
    }

    @include breakpoint(xl) {
        width: 412px;
    }
}

.product__shops-address p ~ p {
    margin-top: 15px;

    @include breakpoint(md) {
        margin-top: 12px;
    }

    @include breakpoint(lg) {
        margin-top: 0;
        width: 41%;
    }

    @include breakpoint(xl) {
        width: 30%;
    }
}

.product__banner {
    padding: 20px;
    background: #1E1E1E;
    border-radius: 15px;

    @include breakpoint(md) {
        padding: 30px 35px;
        display: flex;
    }

    @include breakpoint(lg) {
        padding: 62px 50px;
        align-items: center;
    }

    @include breakpoint(xl) {
        padding: 62px 80px;
    }
}

.product__banner h3 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;

    @include breakpoint(md) {
        margin-bottom: 0;
        min-width: 234px;
        font-size: 25px;
    }

    @include breakpoint(xl) {
        min-width: 270px;
    }
}

.product__banner-inner {

    @include breakpoint(md) {
        max-width: 410px;
    }

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
    }
}

.product__banner-inner p {

    @include breakpoint(lg) {
        max-width: 380px;
    }
}

.product__banner .button-style {
    margin-top: 24px;
    width: 100%;
    max-width: 240px;
    font-size: 14px;

    @include breakpoint(md) {
        max-width: 176px;
    }

    @include breakpoint(lg) {
        margin-top: 0;
    }
}

.product__similar {
    padding: 30px 0 0;

    @include breakpoint(md) {
        padding: 40px 0 0;
    }

    @include breakpoint(lg) {
        padding: 50px 0 0;
    }

    @include breakpoint(xl) {
        padding: 70px 0 0;
    }
}

.product__similar h2 {
    margin-bottom: 30px;

    @include breakpoint(md) {
        margin-bottom: 40px;
    }
}

.product__similar-block {
    border: 1px solid #E7E7E7;
    border-radius: 15px;
    overflow: hidden;

    @include breakpoint(md) {
        display: flex;
    }
}

.product__block {

    @include breakpoint(md) {
        width: 25%;
    }
}

.product__block ~ .product__block {
    border-top: 1px solid #E7E7E7;

    @include breakpoint(md) {
        border: none;
        border-left: 1px solid #E7E7E7;
    }
}

.product__image {
    position: relative;
    width: 100%;
    height: calc((100vw - 40px) / 1.037);

    @include breakpoint(md) {
        height: calc(((100vw - 60px) / 4) / 1.03);
    }

    @include breakpoint(xl) {
        height: 300px;
    }
}

.product__image.special-price::before {
    content: 'Спеццена';
    padding: 5px 20px;
    background: #219653;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 700;
    font-size: 11px;
    border-radius: 50px;

    @include breakpoint(lg) {
        padding: 10px;
        text-transform: uppercase;
    }
}

.product__image img {
    height: 100%;
    object-fit: cover;
}

.product__item {
    padding: 25px 16px 20px;
    color: $black;

    @include breakpoint(md) {
        padding: 10px 16px;
    }

    @include breakpoint(lg) {
        padding: 20px 16px 15px;
    }

    @include breakpoint(xl) {
        padding: 25px 20px 20px;
    }
}

.product__label {
    font-size: 14px;
    @include textLimit(2)
}

.product__card {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(md) {
        display: block;
    }

    @include breakpoint(xl) {
        margin-top: 40px;
        display: flex;
    }
}

.product__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.product__card-btn {
    display: flex;

    @include breakpoint(md) {
        margin-top: 15px;
        justify-content: space-between;
    }

    @include breakpoint(xl) {
        margin-top: 0;
    }
}

.product__card-btn .compare-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
}

.product__card-btn .compare-btn.added {
    color: $black;
    border-color: $black;
}

.product__card-btn .favorite-btn {
    margin-left: 6px;
    width: 32px;
    height: 32px;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
}

.product__card-btn .favorite-btn.added {
    color: $red;
    border-color: $red;
}

.product__card-btn .action-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.product__card-btn .action-icon * {
    font-size: 18px;
}

.product__card-btn .cart-btn {
    margin-left: 12px;
    background: $red;
    width: 50px;
    height: 32px;
    color: #fff;
    border-radius: 3px;
    transition: all 0.5s ease;

    @include breakpoint(md) {
        margin-left: 20px;
    }

    @include breakpoint(xl) {
        margin-left: 12px;
    }
}

.product__card-btn .cart-btn:not(.added):hover {
    background: #9d0c0c;
}

.product__card-btn .cart-btn.added {
    background: transparent;
    color: $red;
    border: 1px solid $red;
}

.product__card-actions {
    display: flex;
}