.header__top-wrapper {
    padding: 12px 0 13px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(md) {
        padding: 0;
    }
}

.header__logo {
    position: relative;

    @include breakpoint(md) {
        flex-basis: calc((100% / 12) * 2);
    }

    @include breakpoint(xl) {
        flex-basis: calc((100% / 12) * 1.5);
    }
}

.logo-image {
    position: absolute;
    top: -9px;
    display: inline-block;
    width: 50px;
    height: 57px;
    z-index: 1;

    @include breakpoint(md) {
        top: 10px;
        width: 70px;
        height: 82px;
    }

    @include breakpoint(lg) {
        top: 5px;
        width: 94px;
        height: 105px;
    }

    @include breakpoint(xl) {
        top: 8px
    }
}

.logo-image img {
    height: 100%;
}

.logo-text {
    margin-left: 62px;
    display: inline-block;
    line-height: 10px;

    @include breakpoint(md) {
        display: none;
    }
}

.header__right {
    position: relative;
    display: flex;

    @include breakpoint(md) {
        justify-content: space-between;
        width: 100%;
    }
}

.header__promo {
    display: none;

    @include breakpoint(xl) {
        margin-right: 30px;
        display: flex;
        align-items: center;
    }
}

.header__promo span {

    @include breakpoint(xl) {
        font-size: 12px;
        line-height: 18px;
        color: #333;
    }
}

.header__menu {
    padding: 56px 20px 0;
    background: $black;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.5s ease;
    overflow-y: scroll;
    z-index: 9;

    @include breakpoint(md) {
        all: unset;
        display: flex;
        width: 100%;
    }
}

.header__menu-mobile {

    @include breakpoint(md) {
        display: none;
    }
}

.header__right.mobile-menu .header__menu  {
    right: 0;
}

.search-mobile {
    margin-bottom: 28px;
    display: flex;
    column-gap: 10px;
}

.search-mobile input {
    padding: 10px 12px;
    background: #3B3B3B;
    width: 100%;
    color: #fff;
}

.search-mobile input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}

.search-mobile button {
    padding: 10px 20px;
    font-size: 12px;
}

.user__menu {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    column-gap: 14px;
    cursor: pointer;
}

.user__menu p {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.menu__mobile {
    margin-bottom: 40px;
}

.menu__mobile-item {
    margin-bottom: 20px;
}

.menu__mobile-link {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.menu__mobile-item:first-child span {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.menu__mobile-item:first-child span::before {
    content: '\f0c9';
    margin-right: 5px;
    font-family: $icon;
    font-weight: 400;
    line-height: 1;
}

.menu__mobile-item:first-child span::after {
    content: '\f078';
    margin-left: 15px;
    font-family: $icon;
    font-weight: 400;
    font-size: 10px;
}

.submenu__mobile {
    margin-top: 10px;
    display: none;
}

.submenu__mobile li {
    border-bottom: 1px solid #313131;
}

.submenu__mobile li:last-child {
    border: none;
}

.submenu__mobile li a {
    padding: 10px 0;
}

.header__menu-list {
    font-size: 14px;
    line-height: 19px;

    @include breakpoint(md) {
        display: flex;
        column-gap: 30px;
    }

    @include breakpoint(xl) {
        column-gap: 40px;
    }
}

.header__menu-list li {
    margin-bottom: 12px;

    @include breakpoint(md) {
        margin: 0;
        padding: 26px 0 24px;
        flex-shrink: 0;
    }

    @include breakpoint(lg) {
        padding: 49px 0 24px;
    }

    @include breakpoint(xl) {
        padding: 41px 0 36px;
    }
}

.header__menu-list li a {

    @include breakpoint(md) {
        font-size: 15px;
        line-height: 20px;
        color: #333;
    }
}

.header__menu-list li a:hover {
    color: #000;
}

.hidden-menu {
    display: none;

    @include breakpoint(md) {
        margin-left: 30px;
        display: block;
        line-height: 1;
    }
}

.hidden-menu.hidden {

    @include breakpoint(md) {
        display: none;
    }
}

.hidden-menu span {

    @include breakpoint(md) {
        padding: 26px 0 24px;
        display: flex;
        font-size: 15px;
        line-height: 20px;
        color: #333;
        cursor: pointer;
    }

    @include breakpoint(lg) {
        padding: 49px 0 24px;
    }

    @include breakpoint(xl) {
        padding: 41px 0 36px;
    }
}

.hidden-menu span::after {

    @include breakpoint(md) {
        content: '\f078';
        margin-left: 10px;
        display: inline-block;
        font-family: $icon;
        font-weight: 400;
        font-size: 10px;
    }
}

.hidden-menu ul {

    @include breakpoint(md) {
        padding: 20px 30px 24px;
        background: #fff;
        position: absolute;
        top: 100%;
        display: none;
        font-size: 15px;
        line-height: 20px;
        color: #333;
        border: 1px solid #E7E7E7;
        border-radius: 0px 0px 15px 15px;
        z-index: 2;
    }
}

.hidden-menu ul li {

    @include breakpoint(md) {
        margin-bottom: 16px;
    }
}

.hidden-menu ul li:last-child {

    @include breakpoint(md) {
        margin-bottom: 0;
    }
}

.hidden-menu:hover ul {

    @include breakpoint(md) {
        display: block;
    }
}

.header__buttons {
    display: flex;
    align-items: center;
    color: $black;
}

.button-header {

    @include breakpoint(md) {
        cursor: pointer;
    }
}

.button-search {
    display: none;

    @include breakpoint(md) {
        display: block;
        line-height: 1;
    }
}

.button-profile {
    margin-right: 16px;
    display: flex;
    align-items: center;

    @include breakpoint(md) {
        margin: 0;
        margin-left: 24px;
        margin-right: 16px;
    }
}

.button-profile__link {
    line-height: 1;
}

.profile-popup {
    padding: 20px 30px;
    background: #FFFFFF;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    width: 256px;
    border: 1px solid #E7E7E7;
    border-radius: 0px 0px 15px 15px;
    z-index: 2;
}

.profile-popup::before {
    content: '';
    position: absolute;
    top: -40px;
    right: 0;
    display: block;
    width: 100px;
    height: 40px;
}

.button-profile:hover .profile-popup {

    @include breakpoint(md) {
        display: block;
    }
}

.profile-popup__link {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
}

.profile-popup__link:hover {
    color: #000;
}

.profile-popup__link:last-child {
    margin: 0;
}

.button-acc {
    display: none;

    @include breakpoint(md) {
        display: inline-block;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: $black;
        text-transform: uppercase;
    }
}

.button-menu {
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    z-index: 9;

    @include breakpoint(md) {
        display: none;
    }
}

.button-menu span {
    background: #000;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease;
}

.button-menu span::before,
.button-menu span::after {
    content: '';
    background: #000;
    display: inline-block;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease;
}

.button-menu span::before {
    position: absolute;
    top: -6px;
}

.button-menu span::after {
    position: absolute;
    top: 6px;
}

.header__right.mobile-menu .button-menu span {
    background: #fff;
    transform: rotate(45deg);
}

.header__right.mobile-menu .button-menu span::before {
    content: none;
}

.header__right.mobile-menu .button-menu span::after {
    background: #fff;
    top: 0;
    transform: rotate(90deg);
}

.header__search {
    display: none;

    @include breakpoint(md) {
        padding: 11px 0;
        background: #FFFFFF;
        position: fixed;
        top: -100%;
        left: 0;
        display: block;
        width: 100%;
        z-index: 2;
        transition: all .5s ease;
    }
}

.header__search.active {

    @include breakpoint(md) {
        top: 0;
    }
}

.header__search form {

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
    }
}

.header__search input {

    @include breakpoint(md) {
        padding-right: 20px;
        width: 100%;
        height: 47px;
    }
}

.header__search input::placeholder {

    @include breakpoint(md) {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #686461;
    }
}

.form-actions {

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        column-gap: 32px;
    }
}

.header__search button {

    @include breakpoint(md) {
        width: 127px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
    }
}

.search-close-btn {

    @include breakpoint(md) {
        background: #F7F7F7;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: #BDBDBD;
        border-radius: 50%;
        cursor: pointer;
    }
}


.search-close-btn i {

    @include breakpoint(md) {
        font-size: 10px;
    }
}

.header__nav {
    background: $red;
}

.header__nav-wrapper {
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include breakpoint(md) {
        padding: 0;
    }
}

.header__nav-logo {
    display: none;

    @include breakpoint(md) {
        display: block;
        flex-basis: calc((100% / 12) * 1.7144);
        flex-shrink: 0;
        line-height: 1;
    }

    @include breakpoint(xl) {
        flex-basis: calc((100% / 12) * 1.33);
    }
}

.header__nav-logo img {

    @include breakpoint(md) {
        vertical-align: unset;
    }

    @include breakpointMax(lg) {
        width: 70px;
        height: 10px;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar__inner {

    @include breakpoint(md) {
        display: flex;
        width: 100%;
        max-width: 440px;
    }

    @include breakpointCustom(786px) {
        max-width: unset;
    }
}

.navbar__menu {

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }

    @include breakpoint(lg) {
        column-gap: 20px;
    }

    @include breakpoint(xl) {
        column-gap: 40px;
    }
}

.navbar__item:not(:first-child) {
    display: none;

    @include breakpoint(md) {
        display: block;
    }
}

.navbar__item {
    display: flex;
    column-gap: 5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    @include breakpoint(md) {
        padding: 18px 0;
        flex-shrink: 0;
    }
}

.navbar-has-submenu {
    display: flex;

    @include breakpoint(md) {
        cursor: pointer;
    }

    @include breakpoint(xl) {
        margin-right: 4px;
    }
}

.navbar-has-submenu::before {
    content: '\f0c9';
    margin-right: 5px;
    font-family: $icon;
    font-weight: 400;
}

.navbar-has-submenu::after {
    content: '\f078';
    margin-top: 3px;
    margin-left: 5px;
    font-family: $icon;
    font-weight: 400;
    font-size: 8px;
    transition: all .5s ease;
}

.navbar-has-submenu.active::after {
    margin-bottom: 3px;
    transform: rotate(180deg);
}

.navbar-has-submenu:hover .navbar__submenu {

    @include breakpoint(md) {
        display: flex;
    }
}

.navbar__submenu {
    padding: 0 0 21px;
    background: #fff;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    display: none;
    width: 100%;
    z-index: 2;

    @include breakpoint(md) {
        padding: 20px 30px 21px;
        top: 100%;
        flex-wrap: wrap;
        column-gap: 30px;
    }

    @include breakpoint(lg) {
        padding: 20px 40px 21px;
    }
}

.navbar__submenu-item {
    border-bottom: 1px solid #E7E7E7;

    @include breakpoint(md) {
        width: calc((100% - 60px) / 3);
        border: none;
    }

    @include breakpoint(lg) {
        width: calc((100% - 90px) / 4);
    }

    @include breakpoint(xl) {
        width: calc((100% - 120px) / 5);
    }
}

.navbar__submenu-item:last-child {
    border: none;
}

.navbar__submenu-link {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $black;
    text-transform: none;

    @include breakpoint(md) {
        margin-bottom: 12px;
        padding: 0;
    }

    @include breakpoint(xl) {
        font-weight: 500;
    }
}

.hidden-navbar {
    display: none;

    @include breakpoint(md) {
        margin-left: 14px;
        padding: 18px 0;
        display: block;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        cursor: pointer;
    }

    @include breakpoint(lg) {
        margin-left: 20px;
    }

    @include breakpoint(xl) {
        margin-left: 40px;
    }
}

.hidden-navbar.hidden {

    @include breakpoint(md) {
        display: none;
    }
}

.hidden-navbar span {

    @include breakpoint(md) {
        display: flex;
    }
}

.hidden-navbar span::after {

    @include breakpoint(md) {
        content: '\f078';
        margin-top: 3px;
        margin-left: 8px;
        font-family: $icon;
        font-weight: 400;
        font-size: 8px;
    }
}

.hidden-navbar .hidden-list {

    @include breakpoint(md) {
        padding: 20px 30px 24px;
        background: $red;
        position: absolute;
        top: 100%;
        display: none;
        font-size: 15px;
        line-height: 20px;
        color: #fff;
        border: 1px solid #E7E7E7;
        border-radius: 0px 0px 15px 15px;
        z-index: 2;
    }
}

.hidden-navbar .hidden-list .navbar__item {

    @include breakpoint(md) {
        margin-bottom: 16px;
    }
}

.hidden-navbar .hidden-list .navbar__item:first-child::before,
.hidden-navbar .hidden-list .navbar__item:first-child::after {
    content: none;
}

.hidden-navbar .hidden-list .navbar__item:last-child {

    @include breakpoint(md) {
        margin-bottom: 0;
    }
}

.hidden-navbar:hover .hidden-list {

    @include breakpoint(md) {
        display: block;
    }
}

.navbar__buttons {
    margin-right: 14px;
    display: flex;
    column-gap: 20px;

    @include breakpoint(md) {
        position: relative;
    }
}

.small-button {
    width: 20px;
    height: 20px;

    @include breakpoint(lg) {
        width: 23px;
        height: 23px;
    }
}

.small-button__link {
    position: relative;
}

.icon-btn i {

    @include breakpoint(lg) {
        font-size: 23px;
    }
}

.quantity-icon {
    background: #fff;
    position: absolute;
    top: -11px;
    left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $black;
    border-radius: 18px;
    cursor: pointer;

    @include breakpoint(lg) {
        width: 24px;
        height: 24px;
    }
}

.button-compare {
    display: flex;
}

////////////////////////////////////////////
///////// SMALL BUTTONS  POPUP
////////////////////////////////////////////
.small-btn {
    padding: 50px 15px 15px;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    background: #F7F7F7;
    transition: right 0.5s ease;
    z-index: 2;

    @include breakpoint(md) {
        padding: 20px;
        top: calc(100% + 16px);
        right: -14px;
        display: none;
        width: 477px;
        box-shadow: 0px 0px 23px rgba(22, 34, 47, 0.15);
        border-radius: 0px 0px 15px 15px;
    }
}

.small-btn.active {

    @include breakpointMax(md) {
        right: 0;
    }
}

.small-btn::after {

    @include breakpoint(md) {
        content: '';
        position: absolute;
        top: -16px;
        right: 0;
        width: 130px;
        height: 16px;
    }
}

.small-button:hover .small-btn {
    display: block;
}

.small-button__link {

    @include breakpointMax(md) {
        pointer-events: none;
    }
}

.small-btn__head {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-btn {

    @include breakpointMax(md) {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 2;
    }

    @include breakpoint(md) {
        display: none;
    }
}

.close-btn::after {

    @include breakpointMax(md) {
        content: '\e59b';
        display: inline-block;
        font-family: $icon;
        color: #000;
    }
}

.small-btn__head button {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: $black;

    @include breakpoint(md) {
        padding: 10px 20px;
        font-size: 12px;
    }
}

.small-btn__head i {
    margin-right: 5px;
    font-size: 12px;
}

.small-btn__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: $black;
}

.small-btn__qt {
    margin-top: 5px;
    display: block;
    font-size: 14px;
    line-height: 150%;
    color: #686461;
}

.small-btn__body {
    max-height: 448px;
    overflow-y: scroll;
}

.small-btn__block {
    margin-bottom: 16px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.small-btn__remove-item {
    background: #F7F7F7;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #BDBDBD;
    border-radius: 50%;
    cursor: pointer;
}

.small-btn__remove-item i {
    font-size: 12px;
}

.small-btn__image {
    flex-basis: 110px;
    flex-shrink: 0;
    height: 100px;

    @include breakpoint(md) {
        flex-basis: 146px;
        height: 133px;
    }
}

.small-btn__image img {
    height: 100%;
}

.small-btn__desc {
    padding: 15px;

    @include breakpoint(md) {
        padding: 0 20px;
    }
}

.small-btn__desc p {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    @include textLimit(2);
}

.small-btn__info  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-btn__info .button-style {
    padding: 7px 13px;
}

.small-btn__info span {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $black;
}

.small-btn__button {
    background: transparent;
    width: 32px;
    height: 32px;
    color: #686461;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
}

.small-btn__button i {
    font-size: 15px;
}

.small-btn__total {
    margin-bottom: 16px;
}

.small-btn__price {
    margin-left: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: $black;
}

.small-btn__footer button {
    width: 100%;
}

// NOTIFY
.notify-cart {
    background: #FFFFFF;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    width: 100%;
    height: 95px;
    overflow: hidden;

    @include breakpoint(md) {
        top: calc(100% + 36px);
        right: -14px;
        width: 373px;
        box-shadow: 0px 0px 23px rgba(22, 34, 47, 0.15);
        border-radius: 15px;
    }
}

.notify-cart__image {
    flex-basis: 80px;
    flex-shrink: 0;

    @include breakpoint(md) {
        flex-basis: 98px;
    }
}

.notify-cart__image img {
    height: 100%;
}

.notify-cart__desc {
    padding: 15px;
    max-width: 210px;
}

.notify-cart__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: $black;
}

.notify-cart__item {
    margin-top: 5px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $black;
    @include textLimit(2);
}

.notify-close {
    background: $red;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
}

.notify-close::after {
    content: '\e59b';
    display: block;
    font-family: $icon;
    font-size: 12px;
}