.header__top-wrapper {
    padding: 12px 0 13px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(md) {
        padding: 26px 0 24px;
    }
}

.header__logo {
    position: relative;

    @include breakpoint(md) {
        min-width: 70px;
    }
}

.logo-image {
    position: absolute;
    top: -5px;
    display: inline-block;
    width: 50px;
    height: 57px;
    z-index: 1;

    @include breakpoint(md) {
        top: -15px;
        width: 70px;
        height: 82px;
    }
}

.logo-image img {
    height: 100%;
}

.logo-text {
    margin-left: 62px;
    display: inline-block;
    line-height: 10px;

    @include breakpoint(md) {
        display: none;
    }
}

.header__right {
    display: flex;

    @include breakpoint(md) {
        justify-content: space-between;
        width: 100%;
    }
}

.header__menu {
    padding: 56px 20px 0;
    background: $black;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.5s ease;

    @include breakpoint(md) {
        all: unset;
        margin-left: 20px;
        display: flex;
        width: 100%;
    }
}

.header__menu-mobile {

    @include breakpoint(md) {
        display: none;
    }
}

.header__right.mobile-menu .header__menu  {
    right: 0;
}

.search-mobile {
    margin-bottom: 28px;
    display: flex;
    column-gap: 10px;
}

.search-mobile input {
    padding: 10px 12px;
    background: #3B3B3B;
    width: 100%;
    color: #fff;
}

.search-mobile input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}

.search-mobile button {
    padding: 10px 20px;
    font-size: 12px;
}

.user__menu {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.user__menu p {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.menu__mobile {
    margin-bottom: 40px;
}

.menu__mobile-item {
    margin-bottom: 20px;
}

.menu__mobile-link {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.menu__mobile-item:first-child span {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.menu__mobile-item:first-child span::before {
    content: '\f0c9';
    margin-right: 5px;
    font-family: $icon;
    font-weight: 400;
    line-height: 1;
}

.menu__mobile-item:first-child span::after {
    content: '\f078';
    margin-left: 15px;
    font-family: $icon;
    font-weight: 400;
    font-size: 10px;
}

.submenu__mobile {
    margin-top: 10px;
    display: none;
}

.submenu__mobile li {
    border-bottom: 1px solid #313131;
}

.submenu__mobile li:last-child {
    border: none;
}

.submenu__mobile li a {
    padding: 10px 0;
}

.header__menu-list {
    font-size: 14px;
    line-height: 19px;

    @include breakpoint(md) {
        display: flex;
        column-gap: 30px;
    }
}

.header__menu-list li {
    margin-bottom: 12px;

    @include breakpoint(md) {
        margin: 0;
    }
}

.header__menu-list li a {

    @include breakpoint(md) {
        font-size: 15px;
        line-height: 20px;
        color: #333;
    }
}

.hidden-list {
    display: none;

    @include breakpoint(md) {
        display: block;
        line-height: 1;
    }
}

.hidden-list.hidden {

    @include breakpoint(md) {
        display: none;
    }
}

.hidden-list span {

    @include breakpoint(md) {
        margin-left: 30px;
        font-size: 15px;
        line-height: 20px;
        color: #333;
    }
}

.hidden-list ul {

    @include breakpoint(md) {
        display: none;
    }
}

.header__buttons {
    display: flex;
    align-items: center;
    color: $black;
}

.button-search {
    display: none;

    @include breakpoint(md) {
        display: block;
        line-height: 1;
    }
}

.button-user {
    margin-right: 16px;
    display: flex;
    align-items: center;

    @include breakpoint(md) {
        margin: 0;
        margin-left: 24px;
    }
}

.button-user i {

    @include breakpoint(md) {
        margin-right: 16px;
    }
}

.button-user span {
    display: none;

    @include breakpoint(md) {
        display: inline-block;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: $black;
        text-transform: uppercase;
    }
}

.button-menu {
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    z-index: 2;

    @include breakpoint(md) {
        display: none;
    }
}

.button-menu span {
    background: #000;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease;
}

.button-menu span::before,
.button-menu span::after {
    content: '';
    background: #000;
    display: inline-block;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease;
}

.button-menu span::before {
    position: absolute;
    top: -6px;
}

.button-menu span::after {
    position: absolute;
    top: 6px;
}

.header__right.mobile-menu .button-menu span {
    background: #fff;
    transform: rotate(45deg);
}

.header__right.mobile-menu .button-menu span::before {
    content: none;
}

.header__right.mobile-menu .button-menu span::after {
    background: #fff;
    top: 0;
    transform: rotate(90deg);
}

.header__nav {
    background: $red;
}

.header__nav-wrapper {
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__nav-logo {
    display: none;

    @include breakpoint(md) {
        display: block;
        line-height: 1;
    }
}

.navbar__item:not(:first-child) {
    display: none;
}

.navbar__item {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.navbar__item:first-child {
    display: flex;
}

.navbar__item:first-child::before {
    content: '\f0c9';
    margin-right: 5px;
    font-family: $icon;
    font-weight: 400;
}

.navbar__item:first-child::after {
    content: '\f078';
    margin-top: 3px;
    margin-left: 10px;
    font-family: $icon;
    font-weight: 400;
    font-size: 8px;
}

.nav__buttons {
    margin-right: 14px;
    display: flex;
    column-gap: 20px;
}

.icon-button {
    position: relative;
    width: 20px;
    height: 20px;
}

.icon-button span {
    background: #fff;
    position: absolute;
    top: -11px;
    left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $black;
    border-radius: 18px;
}

.button-compare {
    display: flex;
}