---
title: Velo1000 | Возрождение велосипеда после зимней консервации
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Возрождение велосипеда после зимней консервации', 'Полезные материалы', 'Возрождение велосипеда после зимней консервации')
    // Breadcrumbs::End

    .page-article-inner

        .article__content

            .container

                p Когда снег уже растаял, а солнце стало приятно припекать, уже хочется покататься на велосипеде. Расчехлив своего «железного коня», проверьте давление в <a href="#">камерах</a>, наверняка за зиму они сдулись. Также внимательно осмотрите покрышки, если протектор стерся, не ждите хорошего сцепления с дорогой.
                    br
                    br
                    |Подтяните все болты, гайки, хомуты, эксентрики. Возможно, они расшатались за прошлый сезон. Смажьте цепь и все цепные узлы. Можете использовать <a href="#">смазку-спрей</a> или <a href="#">жидкую смазку для цепи</a>. Гидравлические дисковые тормоза тоже нуждаются в прокачке. Для этого используйте специальный <a href="#">ремнабор для обслуживания гидравлических дисковых тормозов</a>.
                    br
                    br
                    |Если у Вас воздушный подседельный штырь, проверьте давление в нем. Возможно, нужно будет подкачать. Также и с амортизационной вилкой – нужно проверить уровень масла и давление.
                    br
                    br
                    |Если в предыдущем сезоне Вы много катались и часто агрессивно тормозили, стоит проверить уровень износа тормозных колодок или просто заменить их. Проверьте, не протерлась ли <a href="#">оплетка тросиков</a>.
                    br
                    br
                    |Также стоит отрегулировать переключение скоростей. Для этого нужно поставить велосипед на <a href="#">специальную подставку</a> и, покрутив педали, попереключать скорости вперед-назад. Если переключение происходит с задержкой, перескакивает через 1 звезду или какие-то другие проблемы, посмотрите сначала на кассету. Возможно, зубья звезд на кассете сточились. Тогда нужно <a href="#">заменить кассету на аналогичную</a>. <a href="#">Настройку переднего переключателя скоростей и настройку заднего переключателя скоростей</a> смотрите в разделе <a href="#">"Сделай сам"</a>.
                    br
                    br
                    |Ну, вот и все! Можете смело выезжать кататься. Если соберетесь в лес или на другую долговременную поездку, возьмите с собой <a href="#">запасную камеру, бортовки (монтажки)</a> для легкого снятия покрышки, <a href="#">набор шестигранников</a> и, на всякий случай, <a href="#">велоаптечку</a>. Все эти небольшие вещи легко поместятся даже в самую маленькую <a href="#">сумочку для велосипеда</a>, которую можно закрепить: на багажник, на раму, в раму, на руль или под седло.
                    br
                    br
                    |Приятных Вам поездок и хорошей погоды!

                img(src="assets/images/article-image.jpg", alt="img")

        .article__bottom

            .container

                h2 Читайте другие полезные материалы

                .materials

                    a.materials__block(href="#" style="background-image: url('assets/images/article-1.jpg')")
                        .materials__wrap
                            h4.materials__label Собрать и установить сборную каретку
                            p.materials__text Перед сборкой надо промыть все детали в растворителе (например, в&nbsp;керосине), вытереть и просушить...

                    a.materials__block(href="#" style="background-image: url('assets/images/article-2.jpg')")
                        .materials__wrap
                            h4.materials__label Отрегулировать подшипники разборной каретки