---
title: Velo1000 | Производители
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Производители', 'Производители')
    // Breadcrumbs::End

    .page-brands

        .container

            .brands

                .brands__block
                    .brands__label
                        h4 AIRBONE
                    .brands__image
                        img(src="assets/images/bd-1.png", alt="img")
                .brands__block
                    .brands__label
                        h4 ALEXRIMS
                    .brands__image
                        img(src="assets/images/bd-2.png", alt="img")
                .brands__block
                    .brands__label
                        h4 ALHONGA
                    .brands__image
                        img(src="assets/images/bd-3.png", alt="img")
                .brands__block
                    .brands__label
                        h4 ALPINA
                    .brands__image
                        img(src="assets/images/bd-4.png", alt="img")
                .brands__block
                    .brands__label
                        h4 AMERICAN CLASSIC
                    .brands__image
                        img(src="assets/images/bd-5.png", alt="img")
                .brands__block
                    .brands__label
                        h4 ASHIMA
                    .brands__image
                        img(src="assets/images/bd-6.png", alt="img")
                .brands__block
                    .brands__label
                        h4 AVID
                    .brands__image
                        img(src="assets/images/bd-7.png", alt="img")
                .brands__block
                    .brands__label
                        h4 BARADINE
                    .brands__image
                        img(src="assets/images/bd-8.png", alt="img")
                .brands__block
                    .brands__label
                        h4 BEAR PAWLS
                    .brands__image
                        img(src="assets/images/bd-9.png", alt="img")
                .brands__block
                    .brands__label
                        h4 BELL
                    .brands__image
                        img(src="assets/images/bd-10.png", alt="img")
                .brands__block
                    .brands__label
                        h4 BELLELLI
                    .brands__image
                        img(src="assets/images/bd-11.png", alt="img")
                .brands__block
                    .brands__label
                        h4 BIKEHAND
                    .brands__image
                        img(src="assets/images/bd-12.png", alt="img")
                .brands__block
                    .brands__label
                        h4 BONTRAGER
                    .brands__image
                        img(src="assets/images/bd-13.png", alt="img")
                .brands__block
                    .brands__label
                        h4 CATEYE
                    .brands__image
                        img(src="assets/images/bd-14.png", alt="img")
                .brands__block
                    .brands__label
                        h4 CHILION
                    .brands__image
                        img(src="assets/images/bd-15.png", alt="img")
                .brands__block
                    .brands__label
                        h4 CHOSEN
                    .brands__image
                        img(src="assets/images/bd-16.png", alt="img")
                .brands__block
                    .brands__label
                        h4 CONTINENTAL
                    .brands__image
                        img(src="assets/images/bd-17.png", alt="img")
                .brands__block
                    .brands__label
                        h4 COURSE
                    .brands__image
                        img(src="assets/images/bd-18.png", alt="img")
                .brands__block
                    .brands__label
                        h4 CWI
                    .brands__image
                        img(src="assets/images/bd-19.png", alt="img")
                .brands__block
                    .brands__label
                        h4 D-LIGHT
                    .brands__image
                        img(src="assets/images/bd-20.png", alt="img")
                .brands__block
                    .brands__label
                        h4 DAINESE
                    .brands__image
                        img(src="assets/images/bd-21.png", alt="img")
                .brands__block
                    .brands__label
                        h4 DAY LUEN
                    .brands__image
                        img(src="assets/images/bd-22.png", alt="img")
                .brands__block
                    .brands__label
                        h4 DDK
                    .brands__image
                        img(src="assets/images/bd-23.png", alt="img")
                .brands__block
                    .brands__label
                        h4 DIA-COMPE
                    .brands__image
                        img(src="assets/images/bd-24.png", alt="img")