---
title: Velo1000 | Корзина
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Корзина', 'Корзина')
    // Breadcrumbs::End

    .page-cart

        .container

            .cart__wrapper

                .cart__container

                    .cart__block

                        .cart__item
                            .cart__item-image
                                img(src="assets/images/item.jpg", alt="img")
                            .cart__item-label
                                p.cart__item-name BLACK MAMBA CX+ TLRDY 27,5х2,0
                                span.cart__item-remove
                            .cart__item-details
                                .cart__item-price
                                    p.grey-text Цена
                                    p 10 000 000 ₽
                                .cart__item-quantity
                                    p.grey-text Кол-во
                                    .cart__item-qt
                                        button −
                                        input(type="number" placeholde="0" min="1" value="1")
                                        button +
                                .cart__item-sum
                                    p.grey-text Сумма
                                    p 10 000 000 ₽

                .cart__aside

                    .cart__total

                        .cart__total-row
                            p.grey-text Товаров на
                            p 10 000 000 ₽

                        .cart__total-row
                            p.grey-text Доставка
                            p 500 ₽

                        .cart__total-bottom
                            p.grey-text Итого
                            p 10 000 500 ₽


