---
title: Velo1000 | Каталог
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Каталог', 'Каталог')
    // Breadcrumbs::End

    .page-catalog

        .container

            .catalog

                a.catalog__block(href="#")
                    .catalog__image
                        img(src="assets/images/pop-1.png", alt="img")
                    .catalog__desc
                        p.catalog__label ИНСТРУМЕНТЫ
                        span.item-arrow-icon

                a.catalog__block(href="#")
                    .catalog__image
                        img(src="assets/images/pop-2.png", alt="img")
                    .catalog__desc
                        p.catalog__label ГРИПСЫ
                        span.item-arrow-icon

                a.catalog__block(href="#")
                    .catalog__image
                        img(src="assets/images/pop-3.png", alt="img")
                    .catalog__desc
                        p.catalog__label ПЕДАЛИ
                        span.item-arrow-icon

                a.catalog__block(href="#")
                    .catalog__image
                        img(src="assets/images/pop-4.png", alt="img")
                    .catalog__desc
                        p.catalog__label ВИЛКИ
                        span.item-arrow-icon

                a.catalog__block(href="#")
                    .catalog__image
                        img(src="assets/images/pop-5.png", alt="img")
                    .catalog__desc
                        p.catalog__label ПОКРЫШКИ
                        span.item-arrow-icon

                a.catalog__block(href="#")
                    .catalog__image
                        img(src="assets/images/pop-6.png", alt="img")
                    .catalog__desc
                        p.catalog__label Цепи
                        span.item-arrow-icon

                a.catalog__block(href="#")
                    .catalog__image
                        img(src="assets/images/pop-7.png", alt="img")
                    .catalog__desc
                        p.catalog__label Тормозные колодки дисковые
                        span.item-arrow-icon

                a.catalog__block(href="#")
                    .catalog__image
                        img(src="assets/images/pop-8.png", alt="img")
                    .catalog__desc
                        p.catalog__label Тормозные колодки ободные
                        span.item-arrow-icon

                a.catalog__block(href="#")
                    .catalog__image
                        img(src="assets/images/pop-9.png", alt="img")
                    .catalog__desc
                        p.catalog__label Кассеты
                        span.item-arrow-icon