---
title: Velo1000 | Покрышки
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Покрышки', 'Каталог', 'Покрышки')
    // Breadcrumbs::End

    .page-category

        .container

            .catalog