---
title: Velo1000 | Сравнение товаров
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Сравнение товаров', 'Сравнение товаров')
    // Breadcrumbs::End

    .page-compare

        .container

            .product__compare.swiper

                .swiper-wrapper

                    .product__block.swiper-slide
                        a(href="#").product__image.special-price
                            img(src="assets/images/item.jpg", alt="img")
                        .product__item
                            a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                            .product__card
                                p.product__price 10 000 000 ₽
                                .product__card-btn
                                    .product__card-actions
                                        a.compare-btn.added(href="#")
                                            .action-icon
                                                img(src="assets/images/bar-chart-2.svg", alt="icon")
                                        a.favorite-btn(href="#")
                                            .action-icon
                                                i.fal.fa-heart
                                    a.cart-btn(href="#")
                                        .action-icon
                                            i.far.fa-cart-shopping

                    .product__block.swiper-slide
                        a(href="#").product__image
                            img(src="assets/images/item.jpg", alt="img")
                        .product__item
                            a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                            .product__card
                                p.product__price 10 000 000 ₽
                                .product__card-btn
                                    .product__card-actions
                                        a.compare-btn.added(href="#")
                                            .action-icon
                                                img(src="assets/images/bar-chart-2.svg", alt="icon")
                                        a.favorite-btn(href="#")
                                            .action-icon
                                                i.fal.fa-heart
                                    a.cart-btn(href="#")
                                        .action-icon
                                            i.far.fa-cart-shopping

                    .product__block.swiper-slide
                        a(href="#").product__image
                            img(src="assets/images/item.jpg", alt="img")
                        .product__item
                            a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                            .product__card
                                p.product__price 10 000 000 ₽
                                .product__card-btn
                                    .product__card-actions
                                        a.compare-btn.added(href="#")
                                            .action-icon
                                                img(src="assets/images/bar-chart-2.svg", alt="icon")
                                        a.favorite-btn(href="#")
                                            .action-icon
                                                i.fal.fa-heart
                                    a.cart-btn(href="#")
                                        .action-icon
                                            i.far.fa-cart-shopping

                    .product__block.swiper-slide
                        a(href="#").product__image
                            img(src="assets/images/item.jpg", alt="img")
                        .product__item
                            a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                            .product__card
                                p.product__price 10 000 000 ₽
                                .product__card-btn
                                    .product__card-actions
                                        a.compare-btn.added(href="#")
                                            .action-icon
                                                img(src="assets/images/bar-chart-2.svg", alt="icon")
                                        a.favorite-btn(href="#")
                                            .action-icon
                                                i.fal.fa-heart
                                    a.cart-btn(href="#")
                                        .action-icon
                                            i.far.fa-cart-shopping

                    .product__block.swiper-slide
                        a(href="#").product__image
                            img(src="assets/images/item.jpg", alt="img")
                        .product__item
                            a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                            .product__card
                                p.product__price 10 000 000 ₽
                                .product__card-btn
                                    .product__card-actions
                                        a.compare-btn.added(href="#")
                                            .action-icon
                                                img(src="assets/images/bar-chart-2.svg", alt="icon")
                                        a.favorite-btn(href="#")
                                            .action-icon
                                                i.fal.fa-heart
                                    a.cart-btn(href="#")
                                        .action-icon
                                            i.far.fa-cart-shopping

                    .product__block.swiper-slide
                        a(href="#").product__image
                            img(src="assets/images/item.jpg", alt="img")
                        .product__item
                            a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                            .product__card
                                p.product__price 10 000 000 ₽
                                .product__card-btn
                                    .product__card-actions
                                        a.compare-btn.added(href="#")
                                            .action-icon
                                                img(src="assets/images/bar-chart-2.svg", alt="icon")
                                        a.favorite-btn(href="#")
                                            .action-icon
                                                i.fal.fa-heart
                                    a.cart-btn(href="#")
                                        .action-icon
                                            i.far.fa-cart-shopping


            .compare__section

                .compare__checkbox
                    label.input-checkbox-circle(for="differences")
                        input#differences(type="checkbox", name="differences" aria-hidden="true")
                        .checkbox-bg
                    span Отображать только различия

                .compare__table.swiper

                    .swiper-wrapper

                        .compare__col.swiper-slide
                            .compare__value(data-label="Артикул"  data-option="1") 1245678
                            .compare__value(data-label="Тип катания"  data-option="2") Кросс-кантри
                            .compare__value(data-label="Цвет" data-option="3") Черный
                            .compare__value(data-label="Размер колеса"  data-option="4") 27 дюймов
                            .compare__value(data-label="Тип корда"  data-option="5") Радиальный

                        .compare__col.swiper-slide
                            .compare__value(data-label="Артикул" data-option="1") 133466
                            .compare__value(data-label="Тип катания" data-option="2") Кросс-кантри
                            .compare__value(data-label="Цвет" data-option="3") Красный
                            .compare__value(data-label="Размер колеса" data-option="4") 28 дюймов
                            .compare__value(data-label="Тип корда" data-option="5") Радиальный

                        .compare__col.swiper-slide
                            .compare__value(data-label="Артикул" data-option="1") 133466
                            .compare__value(data-label="Тип катания" data-option="2") Кросс-кантри
                            .compare__value(data-label="Цвет" data-option="3") Красный
                            .compare__value(data-label="Размер колеса" data-option="4") 28 дюймов
                            .compare__value(data-label="Тип корда" data-option="5") Радиальный

                        .compare__col.swiper-slide
                            .compare__value(data-label="Артикул" data-option="1") 133466
                            .compare__value(data-label="Тип катания" data-option="2") Кросс-кантри
                            .compare__value(data-label="Цвет" data-option="3") Красный
                            .compare__value(data-label="Размер колеса" data-option="4") 28 дюймов
                            .compare__value(data-label="Тип корда" data-option="5") Радиальный

                        .compare__col.swiper-slide
                            .compare__value(data-label="Артикул" data-option="1") 133466
                            .compare__value(data-label="Тип катания" data-option="2") Кросс-кантри
                            .compare__value(data-label="Цвет" data-option="3") Красный
                            .compare__value(data-label="Размер колеса" data-option="4") 28 дюймов
                            .compare__value(data-label="Тип корда" data-option="5") Радиальный

                        .compare__col.swiper-slide
                            .compare__value(data-label="Артикул" data-option="1") 133466
                            .compare__value(data-label="Тип катания" data-option="2") Кросс-кантри
                            .compare__value(data-label="Цвет" data-option="3") Красный
                            .compare__value(data-label="Размер колеса" data-option="4") 28 дюймов
                            .compare__value(data-label="Тип корда" data-option="5") Радиальный

                .compare__arrows
                    button.swiper-button.swiper-button-prev
                    button.swiper-button.swiper-button-next