---
title: Velo1000 | Доставка и оплата
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Доставка и оплата', 'Доставка и оплата')
    // Breadcrumbs::End

    .page-payment

         .container

            .limiter

                .attention-banner
                    h4 ВНИМАНИЕ!

                    ul

                        li По адресам типа: "МКАД, такой-то км..." доставка не осуществляется!
                        li В случае отказа от покупки заказчик обязан оплатить стоимость доставки! Стоимость доставки указана в чеке.

                .table-container
                    .table-text
                        .table-text-row
                            p Срок доставки по&nbsp;Москве
                            p <b>2-3 дня</b>

                        .table-text-row
                            p Срок отгрузки в&nbsp;регионы
                            p <b>2-3 дня</b>

                    .table-text
                        .table-text-row
                            p Стоимость доставки по Москве в пределах МКАД
                            p <b>350 ₽*</b>

                        .table-text-row
                            p Стоимость доставки по Москве за МКАД (метро Новокосино, Лермонтовский проспект, Жулебино, Котельники, Бульвар Дмитрия Донского, Улица Старокачаловская, Улица Скобелевская, Бульвар Адмирала Ушакова, Улица Горчакова, Бунинская Аллея, Мякинино, Волоколамская, Митино, Пятницкое шоссе и др.)
                            p <b>550 ₽*</b>

                        .table-text-row
                            p Доставка в Зеленоград, Троицк и ближайшее Подмосковье (Котельники, Балашиха, Реутов, Люберцы, Видное, Красногорск, Химки, Долгопрудный, Лобня, Одинцово, Мытищи, Королев и др.) осуществляется Почтой России.
                            p <b>осуществляется Почтой&nbsp;России</b>

                p.text-gray * Доставка крупногабаритных товаров рассчитывается отдельно

                a.button-style.button-style--transparent_red(href="#") Рассчитать стоимость доставки

                .payment-notify
                    .payment-icon
                        img(src="assets/images/money.png", alt="img")
                    p Оплата производится при получении заказа наличными курьеру.