---
title: Velo1000 | Доставка в регионы
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Доставка в регионы', 'Доставка в регионы')
    // Breadcrumbs::End

    .page-delivery

        .container

            p.red-text <b>Минимальная сумма заказа с доставкой по России составляет 2500 руб. (без учета стоимости доставки).</b>

            .text-row
                p Срок отгрузки в регионы
                p <b>2-3 дня</b>