---
title: Velo1000 | Избранное
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Избранное', 'Избранное')
    // Breadcrumbs::End

    .page-favorite

        .container

            .product__favorite

                .product__block
                    a(href="#").product__image.special-price
                        img(src="assets/images/item.jpg", alt="img")
                    .product__item
                        a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                        .product__card
                            p.product__price 10 000 000 ₽
                            .product__card-btn
                                .product__card-actions
                                    a.compare-btn.added(href="#")
                                        .action-icon
                                            img(src="assets/images/bar-chart-2.svg", alt="icon")
                                    a.favorite-btn.added(href="#")
                                        .action-icon
                                            i.fal.fa-heart
                                a.cart-btn.added(href="#")
                                    .action-icon
                                        i.far.fa-cart-shopping

                .product__block
                    a(href="#").product__image.special-price
                        img(src="assets/images/item.jpg", alt="img")
                    .product__item
                        a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                        .product__card
                            p.product__price 10 000 000 ₽
                            .product__card-btn
                                .product__card-actions
                                    a.compare-btn.added(href="#")
                                        .action-icon
                                            img(src="assets/images/bar-chart-2.svg", alt="icon")
                                    a.favorite-btn.added(href="#")
                                        .action-icon
                                            i.fal.fa-heart
                                a.cart-btn.added(href="#")
                                    .action-icon
                                        i.far.fa-cart-shopping

                .product__block
                    a(href="#").product__image.special-price
                        img(src="assets/images/item.jpg", alt="img")
                    .product__item
                        a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                        .product__card
                            p.product__price 10 000 000 ₽
                            .product__card-btn
                                .product__card-actions
                                    a.compare-btn.added(href="#")
                                        .action-icon
                                            img(src="assets/images/bar-chart-2.svg", alt="icon")
                                    a.favorite-btn.added(href="#")
                                        .action-icon
                                            i.fal.fa-heart
                                a.cart-btn.added(href="#")
                                    .action-icon
                                        i.far.fa-cart-shopping

                .product__block
                    a(href="#").product__image.special-price
                        img(src="assets/images/item.jpg", alt="img")
                    .product__item
                        a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                        .product__card
                            p.product__price 10 000 000 ₽
                            .product__card-btn
                                .product__card-actions
                                    a.compare-btn.added(href="#")
                                        .action-icon
                                            img(src="assets/images/bar-chart-2.svg", alt="icon")
                                    a.favorite-btn.added(href="#")
                                        .action-icon
                                            i.fal.fa-heart
                                a.cart-btn.added(href="#")
                                    .action-icon
                                        i.far.fa-cart-shopping

                .product__block
                    a(href="#").product__image.special-price
                        img(src="assets/images/item.jpg", alt="img")
                    .product__item
                        a(href="#").product__label BLACK MAMBA CX+ TLRDY 27,5х2,0
                        .product__card
                            p.product__price 10 000 000 ₽
                            .product__card-btn
                                .product__card-actions
                                    a.compare-btn.added(href="#")
                                        .action-icon
                                            img(src="assets/images/bar-chart-2.svg", alt="icon")
                                    a.favorite-btn.added(href="#")
                                        .action-icon
                                            i.fal.fa-heart
                                a.cart-btn.added(href="#")
                                    .action-icon
                                        i.far.fa-cart-shopping