---
title: Velo1000 | Забыли пароль
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Востановление пароля', 'Востановление пароля')
    // Breadcrumbs::End

    .page-forgot-password

        .container

            p Если вы забыли пароль, введите логин.

            form

                .input-style
                    label.input-label Логин
                    input(type="text" required)

                p Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail.

                button.button-style.button-style--red(type="submit") Восстановить