---
title: Velo1000 | Главная
---

extends includes/_page

block main

    .main-page

        .swiper.banner__slider

            .swiper-wrapper

                .swiper-slide
                    .banner(style="background-image: url('assets/images/slider-main.jpg')")
                        .container
                            .banner__slide
                                .banner__block
                                    h2.banner__title Огромный выбор аксессуаров и запчастей для велосипедов
                                    p.banner__subtitle В каталоге магазина более 1000 товаров для комфортной и безопасной езды от отечественных и зарубежных производителей
                                    a.banner__button.button-style.button-style--red(href="#") Перейти в каталог

                                .banner__image
                                    img(src="assets/images/slider-image.png", alt="img")

                .swiper-slide
                    .banner(style="background-image: url('assets/images/slider-main.jpg')")
                        .container
                            .banner__slide
                                .banner__block
                                    h2.banner__title Огромный выбор аксессуаров и запчастей для велосипедов
                                    p.banner__subtitle В каталоге магазина более 1000 товаров для комфортной и безопасной езды от отечественных и зарубежных производителей
                                    a.banner__button.button-style.button-style--red(href="#") Перейти в каталог

                                .banner__image
                                    img(src="assets/images/slider-image.png", alt="img")

                .swiper-slide
                    .banner(style="background-image: url('assets/images/slider-main.jpg')")
                        .container
                            .banner__slide
                                .banner__block
                                    h2.banner__title Огромный выбор аксессуаров и запчастей для велосипедов
                                    p.banner__subtitle В каталоге магазина более 1000 товаров для комфортной и безопасной езды от отечественных и зарубежных производителей
                                    a.banner__button.button-style.button-style--red(href="#") Перейти в каталог

                                .banner__image
                                    img(src="assets/images/slider-image.png", alt="img")

            .banner__dots
                .container
                    .swiper-pagination.banner__pagination