---
title: Velo1000 | Главная
---

extends includes/_page

block main

    .main-page

        // Banner section
        section.banner-section

            .swiper.banner__slider

                .swiper-wrapper

                    .swiper-slide
                        .banner(style="background-image: url('assets/images/slider-main.jpg')")
                            .container
                                .banner__slide
                                    .banner__block
                                        h2.banner__title Огромный выбор аксессуаров и запчастей для велосипедов
                                        p.banner__subtitle В каталоге магазина более 1000 товаров для комфортной и безопасной езды от отечественных и зарубежных производителей
                                        a.banner__button.button-style.button-style--red(href="#") Перейти в каталог

                                    .banner__image
                                        img(src="assets/images/slider-image.png", alt="img")

                    .swiper-slide
                        .banner(style="background-image: url('assets/images/slider-main.jpg')")
                            .container
                                .banner__slide
                                    .banner__block
                                        h2.banner__title Огромный выбор аксессуаров и запчастей для велосипедов
                                        p.banner__subtitle В каталоге магазина более 1000 товаров для комфортной и безопасной езды от отечественных и зарубежных производителей
                                        a.banner__button.button-style.button-style--red(href="#") Перейти в каталог

                                    .banner__image
                                        img(src="assets/images/slider-image.png", alt="img")

                    .swiper-slide
                        .banner(style="background-image: url('assets/images/slider-main.jpg')")
                            .container
                                .banner__slide
                                    .banner__block
                                        h2.banner__title Огромный выбор аксессуаров и запчастей для велосипедов
                                        p.banner__subtitle В каталоге магазина более 1000 товаров для комфортной и безопасной езды от отечественных и зарубежных производителей
                                        a.banner__button.button-style.button-style--red(href="#") Перейти в каталог

                                    .banner__image
                                        img(src="assets/images/slider-image.png", alt="img")

                .banner__dots
                    .container
                        .swiper-pagination.banner__pagination

        // Brands section
        section.brands-section

            .swiper.brands__slider

                .swiper-wrapper.brands__wrapper

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-1.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-2.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-3.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-4.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-5.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-6.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-7.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-8.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-9.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-10.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-11.png", alt="img")


                .swiper-navigation
                    .swiper-button-prev.brand__button.brand__button--prev
                    .swiper-button-next.brand__button.brand__button--next


            a.button-style.button-style--transparent_black(href="#") Все бренды

        // Popular section
        section.popular-section

            .container

                h2.catalog__title Популярные категории

                .catalog

                    a.catalog__block(href="#")
                        .catalog__image
                            img(src="assets/images/pop-1.png", alt="img")
                        .catalog__desc
                            p.catalog__label ИНСТРУМЕНТЫ
                            span.catalog-arrow-icon

                    a.catalog__block(href="#")
                        .catalog__image
                            img(src="assets/images/pop-2.png", alt="img")
                        .catalog__desc
                            p.catalog__label ГРИПСЫ
                            span.catalog-arrow-icon

                    a.catalog__block(href="#")
                        .catalog__image
                            img(src="assets/images/pop-3.png", alt="img")
                        .catalog__desc
                            p.catalog__label ПЕДАЛИ
                            span.catalog-arrow-icon

                    a.catalog__block(href="#")
                        .catalog__image
                            img(src="assets/images/pop-4.png", alt="img")
                        .catalog__desc
                            p.catalog__label ВИЛКИ
                            span.catalog-arrow-icon

                    a.catalog__block(href="#")
                        .catalog__image
                            img(src="assets/images/pop-5.png", alt="img")
                        .catalog__desc
                            p.catalog__label ПОКРЫШКИ
                            span.catalog-arrow-icon

                    a.catalog__block(href="#")
                        .catalog__image
                            img(src="assets/images/pop-6.png", alt="img")
                        .catalog__desc
                            p.catalog__label Цепи
                            span.catalog-arrow-icon

                    a.catalog__block(href="#")
                        .catalog__image
                            img(src="assets/images/pop-7.png", alt="img")
                        .catalog__desc
                            p.catalog__label Тормозные колодки дисковые
                            span.catalog-arrow-icon

                    a.catalog__block(href="#")
                        .catalog__image
                            img(src="assets/images/pop-8.png", alt="img")
                        .catalog__desc
                            p.catalog__label Тормозные колодки ободные
                            span.catalog-arrow-icon

                    a.catalog__block(href="#")
                        .catalog__image
                            img(src="assets/images/pop-9.png", alt="img")
                        .catalog__desc
                            p.catalog__label Кассеты
                            span.catalog-arrow-icon

                a.button-style.button-style--transparent_black(href="#") Все категории

        // Materials section
        section.materials-section

            .container

                h2.materials__title Полезные материалы

                .materials

                    a.materials__block(href="#" style="background-image: url('assets/images/material-1.png')")
                        .materials__wrap
                            h4.materials__label Название полезной статьи Классификация велосипедов по видам
                            p.materials__text Вдоволь откатавшись на велосипеде летом, каждый владелец своего "железного коня" задумывается о его хранении в зимний период.

                    a.materials__block(href="#" style="background-image: url('assets/images/material-2.png')")
                        .materials__wrap
                            h4.materials__label Классификация велосипедов по видам
                            p.materials__text Дорожные велосипеды предназначены для удобной езды по городу, где скорость менее важна, чем удобство

                    a.materials__block(href="#" style="background-image: url('assets/images/material-3.png')")
                        .materials__wrap
                            h4.materials__label Возрождение велосипеда после зимней консервации
                            p.materials__text Когда снег уже растаял, а солнце стало приятно припекать, уже хочется покататься на велосипеде

                    a.materials__block(href="#" style="background-image: url('assets/images/material-4.png')")
                        .materials__wrap
                            h4.materials__label Показатели яркости велосипедных фар
                            p.materials__text Световой поток – это часть мощности излучения, которая воспринимается человеческим глазом.

                a.button-style.button-style--transparent_black(href="#") Читать все

