---
title: Velo1000 | Главная
---

extends includes/_page

block main

    .main-page

        section.banner-section

            .swiper.banner__slider

                .swiper-wrapper

                    .swiper-slide
                        .banner(style="background-image: url('assets/images/slider-main.jpg')")
                            .container
                                .banner__slide
                                    .banner__block
                                        h2.banner__title Огромный выбор аксессуаров и запчастей для велосипедов
                                        p.banner__subtitle В каталоге магазина более 1000 товаров для комфортной и безопасной езды от отечественных и зарубежных производителей
                                        a.banner__button.button-style.button-style--red(href="#") Перейти в каталог

                                    .banner__image
                                        img(src="assets/images/slider-image.png", alt="img")

                    .swiper-slide
                        .banner(style="background-image: url('assets/images/slider-main.jpg')")
                            .container
                                .banner__slide
                                    .banner__block
                                        h2.banner__title Огромный выбор аксессуаров и запчастей для велосипедов
                                        p.banner__subtitle В каталоге магазина более 1000 товаров для комфортной и безопасной езды от отечественных и зарубежных производителей
                                        a.banner__button.button-style.button-style--red(href="#") Перейти в каталог

                                    .banner__image
                                        img(src="assets/images/slider-image.png", alt="img")

                    .swiper-slide
                        .banner(style="background-image: url('assets/images/slider-main.jpg')")
                            .container
                                .banner__slide
                                    .banner__block
                                        h2.banner__title Огромный выбор аксессуаров и запчастей для велосипедов
                                        p.banner__subtitle В каталоге магазина более 1000 товаров для комфортной и безопасной езды от отечественных и зарубежных производителей
                                        a.banner__button.button-style.button-style--red(href="#") Перейти в каталог

                                    .banner__image
                                        img(src="assets/images/slider-image.png", alt="img")

                .banner__dots
                    .container
                        .swiper-pagination.banner__pagination


        section.brands-section

            .swiper.brands__slider

                .swiper-wrapper

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-1.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-2.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-3.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-4.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-5.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-6.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-7.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-8.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-9.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-10.png", alt="img")

                    .swiper-slide.brand__slide
                        .brand__image
                            img(src="assets/images/brand-11.png", alt="img")


            a.brands__button.button-style.button-style--transparent_black(href="#") Все бренды