---
title: Velo1000 | Новости
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Новости', 'Новости')
    // Breadcrumbs::End

    .page-news

        .container

            .news

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Режим работы 23 февраля и 8 марта 2022
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Режим работы в&nbsp;новогодние праздники
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Приглашаем на МТБ-гонку RVO RACE, Москва, 8&nbsp;августа, 12:00
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Режим работы 23 февраля и 8 марта 2022
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Режим работы в&nbsp;новогодние праздники
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Приглашаем на МТБ-гонку RVO RACE, Москва, 8&nbsp;августа, 12:00
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Режим работы 23 февраля и 8 марта 2022
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Режим работы в&nbsp;новогодние праздники
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Приглашаем на МТБ-гонку RVO RACE, Москва, 8&nbsp;августа, 12:00
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Режим работы 23 февраля и 8 марта 2022
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Режим работы в&nbsp;новогодние праздники
                    a.news__link(href="#")  Читать новость

                .news__block
                    .news__head
                        .news__date 21.02.2022
                        span.item-arrow-icon
                    h4.news__label Приглашаем на МТБ-гонку RVO RACE, Москва, 8&nbsp;августа, 12:00
                    a.news__link(href="#")  Читать новость

            .pagination-container
                a.button-style.button-style--red(href="#") Загрузить ещё

                // Pagination
                .pagination

                    a.pagination-item.pagination-arrow.pagination-arrow-left.disabled(href="javascript:void(0)")
                        i.far.fa-chevron-left

                    a.pagination-item.active(href="javascript:void(0)") 1
                    a.pagination-item(href="javascript:void(0)") 2
                    a.pagination-item(href="javascript:void(0)") 3
                    span.pagination-item.pagination-dots ...
                    a.pagination-item(href="javascript:void(0)") 10

                    a.pagination-item.pagination-arrow.pagination-arrow-right(href="javascript:void(0)")
                        i.far.fa-chevron-right