---
title: Velo1000 | Личный кабинет - Правила продажи
personalPage: sale-rules
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Личный кабинет', 'Личный кабинет', 'Правила продажи')
    // Breadcrumbs::End

    .page-personal

        .container

            h3 Правила продажи

            .personal__wrap

                .personal__container

                    .personal__block
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut neque sed eget a. Leo, ornare pellentesque lacinia tellus, scelerisque id est nulla. Malesuada arcu at nunc ornare eget aliquam sit augue phasellus. Nullam sit elit ullamcorper arcu, cras. Duis augue amet nec neque odio id. Nunc odio proin tellus gravida.
                        br
                        br
                        |Ac, suscipit pellentesque eget morbi massa est in. Quam at ultricies velit, nec nulla sodales gravida. Eget amet elementum odio blandit nisl. Vitae proin at nam vitae mollis. Vel at ac est fermentum. Enim, curabitur sapien, hac felis cursus dictum orci massa. Ipsum nulla odio non etiam est lobortis sed purus. Velit sit diam ut suspendisse dignissim. Sed morbi ultrices eget bibendum commodo a et, iaculis senectus. Morbi risus, imperdiet consectetur amet, commodo turpis aliquam. Dolor semper et nec aenean.

                    // ASIDE
                    include components/_personal-aside