---
title: Velo1000 | Личный кабинет - Способы оплаты/доставки
personalPage: delivery
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Личный кабинет', 'Личный кабинет', 'Способы оплаты/доставки')
    // Breadcrumbs::End

    .page-personal.page-delivery.page-payment

        .container

            h3 способы оплаты/доставки

            .personal__wrap

                .personal__container

                    div

                        .attention-banner
                            h4 ВНИМАНИЕ!

                            ul

                                li По адресам типа: "МКАД, такой-то км..." доставка не осуществляется!
                                li В случае отказа от покупки заказчик обязан оплатить стоимость доставки! Стоимость доставки указана в чеке.

                        .table-container
                            .table-text
                                .table-text-row
                                    p Срок доставки по&nbsp;Москве
                                    p <b>2-3 дня</b>

                                .table-text-row
                                    p Срок отгрузки в&nbsp;регионы
                                    p <b>2-3 дня</b>

                            .table-text
                                .table-text-row
                                    p Стоимость доставки по Москве в пределах МКАД
                                    p <b>350 ₽*</b>

                                .table-text-row
                                    p Стоимость доставки по Москве за МКАД (метро Новокосино, Лермонтовский проспект, Жулебино, Котельники, Бульвар Дмитрия Донского, Улица Старокачаловская, Улица Скобелевская, Бульвар Адмирала Ушакова, Улица Горчакова, Бунинская Аллея, Мякинино, Волоколамская, Митино, Пятницкое шоссе и др.)
                                    p <b>550 ₽*</b>

                                .table-text-row
                                    p Доставка в Зеленоград, Троицк и ближайшее Подмосковье (Котельники, Балашиха, Реутов, Люберцы, Видное, Красногорск, Химки, Долгопрудный, Лобня, Одинцово, Мытищи, Королев и др.) осуществляется Почтой России.
                                    p <b>осуществляется Почтой&nbsp;России</b>

                        p.text-gray * Доставка крупногабаритных товаров рассчитывается отдельно

                        a.button-style.button-style--transparent_red(href="#") Рассчитать стоимость доставки

                        .payment-notify
                            .payment-icon
                                img(src="assets/images/money.png", alt="img")
                            p Оплата производится при получении заказа наличными курьеру.

                        .section-delivery
                            h3 Доставка в регионы
                            p.red-text <b>Минимальная сумма заказа с доставкой по России составляет 2500 руб. (без учета стоимости доставки).</b>

                            .table-text
                                .table-text-row
                                    p Срок отгрузки в&nbsp;регионы
                                    p <b>2-3 дня</b>

                            p Доставка велозапчастей в регионы России осуществляется через Почту России

                            .box-row

                                .box-item
                                    .box-img
                                        img(src="assets/images/box_1.png", alt="img")
                                    p обычный

                                .box-item
                                    .box-img
                                        img(src="assets/images/box_2.png", alt="img")
                                    p ускоренный

                                .box-item
                                    .box-img
                                        img(src="assets/images/box_3.png", alt="img")
                                    p курьерский

                            a.button-style.button-style--transparent_red Рассчитать стоимость доставки

                            .attention-banner
                                h4 ВНИМАНИЕ!

                                ul

                                    li Обычной и Ускоренной (1 класс) почтой можно отправить только те посылки, которые помещаются в СОБСТВЕННУЮ УПАКОВКУ ПОЧТЫ РОССИИ. Максимальные габариты коробки: 42,5 × 26,5 × 38 см. Максимальный размер пакета: 60 × 70 см.
                                    li Негабаритные посылки отправляются Курьерской Почтой России (EMS). При этом способе доставки посылку привозит курьер.
                                    li В стоимость доставки не входит стоимость упаковки! <a href="#">Посмотреть упаковочные&nbsp;материалы</a>

                            p Посылки высылаются на следующий рабочий день после получения 100% предоплаты по выставленному счету (за товар и за доставку).
                            br
                            |Оплатить счет можно любым способом, используя указанные в счете реквизиты.
                            br
                            br
                            |В день отправки посылки заказчику на эл.почту высылается номер идентификатора или номер адресного ярлыка, по которому можно следить за ходом доставки и видеть, где в данный момент находится посылка.

                            a.custom-style-btn.button-style.button-style--transparent_red  Отследить почтовое отправление Почта России

                            p
                                b Неоплаченный заказ действителен в течение 3-х календарных дней с момента получения. По истечении срока при непоступлении предоплаты заказ аннулируется без предупреждения клиента!

                    // ASIDE
                    include components/_personal-aside